@*файл представления для редактирования учетной записи
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.ApplicationUser

@{
    ViewBag.Title = "Изменение данных учетной записи";
}

<h2>Изменение данных учетной записи</h2>
@Html.ActionLink("Вернуться к просмотру", "PersonalRecord", "Person")


<br />
<label>Имя</label>
<input class="form-control" type="text" value="@Model.Name" id="NameUser"/>

<br />
<label>Фамилия</label>
<input class="form-control" type="text" value="@Model.Surname" id="SurnameUser" />
<br />
<label>Дата рождения</label>
<input class="form-control" type="date" value="@Model.Birthday" id="BirthdayUser" />
<br />

<label>Мужчина</label>
<input class="checkBoxClass" type="checkbox" value="@Model.Male" id="MaleUser" />
<br />
@Html.ActionLink("Изменить пароль", "ChangePassword", "Manage")
<br />
<br />
<br />
<button  class="btn btn-default" onclick="editPersonalRecordSave()">Сохранить</button>


@*@Html.Action("Index", "Manage", new { partial = true })*@

@section scripts{
    <script src="~/Scripts/editPersonalRecord.js" type="text/javascript"></script>

}