@*файл представления для просмотра учетной записи
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.ViewModel.PersonV.PersonalRecordV

@{
    ViewBag.Title = "PersonalRecord";
}

<h2>PersonalRecord</h2>

@if (Model.CurrenUserId == Model.User.Id)
{
   @Html.ActionLink("Редактировать","EditPersonalRecord", "Person")
   
}
<br />
@Html.Label("id пользователя")
@Html.DisplayFor(x1=>x1.User.Id)
<br />
@Html.Label("UserName пользователя")
@Html.DisplayFor(x1 => x1.User.UserName)

<br />
@Html.Label("Mail пользователя")
@Html.DisplayFor(x1 => x1.User.Email)
<br />
@Html.Label("Имя пользователя")
@if (Model.User.Name != null)
{
@Html.DisplayFor(x1 => x1.User.Name)
}
else
{
@Html.Label("Не указано")

}

<br />
@Html.Label("Фамилия пользователя")
@if (Model.User.Surname != null)
{
    @Html.DisplayFor(x1 => x1.User.Surname)
}
else
{
    @Html.Label("Не указана")

}


<br />
@Html.Label("Дата рождения пользователя")
@if (Model.User.Surname != null)
{
  @Html.DisplayFor(x1 => x1.User.Birthday)
}
else
{
    @Html.Label("Не указана")

}

<br />
@Html.Label("Пол пользователя")
@if (Model.User.Male==true)
{
    <label>Муж.</label>
}
else
{
    if (Model.User.Male == false)
    {
        <label>Жен.</label>

    }
    else
    {
        <label>Не указан</label>
    }
}
<p></p>


<hr />



@if (Model.Admin)
{
    <div>
        <div>
            <button id="butRolesUser_id"  class="btn btn-default" onclick="loadRolesUser('@Model.User.Id')">Показать роли</button>
        </div>
        <div id="divRolesUser_id" style="display:none;"></div>
    </div>
}


<div>
    <p>Избранное</p>
    <div id="FavouritePhysic_div_but_id">
        <button  class="btn btn-default" onclick="loadFavouritePhysic('@Model.User.Id')">Загрузить все</button>
    </div>
    <div id="FavouritePhysic_div_id"></div>

</div>


@section scripts{
    <script src="~/Scripts/personalRecord.js" type="text/javascript"></script>

}