@model dip.Models.ViewModel.PersonV.PersonalRecordV

@{
    ViewBag.Title = "PersonalRecord";
}

<h2>PersonalRecord</h2>


@Html.Label("id пользователя")
@Html.DisplayFor(x1=>x1.User.Id)
<br />
@*@Html.DisplayFor(x1 => x1.User.Name)*@
@Html.Label("UserName пользователя")

@Html.DisplayFor(x1 => x1.User.UserName)

<br />
@Html.Label("Mail пользователя")

@Html.DisplayFor(x1 => x1.User.Email)


<p></p>


<hr />

@if (Model.CurrenUserId == Model.User.Id)
{
    @Html.Action("Index", "Manage", new { partial = true })
}



@if (Model.Admin)
{
    <div>
        <div>
            <button id="butRolesUser_id"  class="btn btn-default" onclick="loadRolesUser('@Model.User.Id')">Показать роли</button>
        </div>
        <div id="divRolesUser_id" style="display:none;"></div>
    </div>
}


<div>
    <p>Избранное</p>
    <div id="FavouritePhysic_div_but_id">
        <button  class="btn btn-default" onclick="loadFavouritePhysic('@Model.User.Id')">Загрузить все</button>
    </div>
    <div id="FavouritePhysic_div_id"></div>

</div>



<script>



    function loadFavouritePhysic(id) {

        document.getElementById('FavouritePhysic_div_but_id').innerHTML = '';
        goAjaxRequest({
            url: '/Person/ListFavouritePhysics',
            type: 'GET',
            data: { id: id },
            func_success: function (data, status, jqXHR) {
                // Заменяем часть представления, отвечающего за отображение значений характеристики
                document.getElementById('FavouritePhysic_div_id').innerHTML = data;
            }
        });

    }

    function loadRolesUser(id) {
        var div = document.getElementById('divRolesUser_id');
        var but = document.getElementById('butRolesUser_id');

        if (!div.innerHTML.trim()) {
            //загрузить
            goAjaxRequest({
                url: '/Person/GetRoles',
                type: 'GET',
                data: { personId: id },
                func_success: function (data, status, jqXHR) {
                    // Заменяем часть представления, отвечающего за отображение значений характеристики
                    div.innerHTML = data;
                }
            });
            div.style.display = 'block';
            but.innerHTML = 'Скрыть роли';
        }
        else {
            //загружать не надо, надо показать\скрыть
            if (div.style.display == 'block') {
                //скрыть
                div.style.display = 'none';
                but.innerHTML = 'Показать роли';
            }
            else {
                //показать
                div.style.display = 'block';
                but.innerHTML = 'Скрыть роли';
            }
        }
        
    }

</script>