@model dip.Models.Domain.Action

@{
    ViewBag.Title = "CreateInput";
}






@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Шаг 1. Задайте входное воздействие</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.AllActionId, "Название воздействия", htmlAttributes: new { id = "actionLabel", @class = "control-label col-md-2", value = @ViewBag.currentActionId })
            <div class="col-md-10">
                @Html.DropDownList("actionId", null, htmlAttributes: new { id = "action", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AllActionId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ActionType_Id, "Тип входа", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("actionType", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActionType_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="fizVelGroup">
            <div class="form-group" id="fizVel">
                @if (ViewBag.currentAction != "VOZ11")
                {
                    @Html.LabelFor(model => model.FizVelId, "Название физической величины", htmlAttributes: new { @class = "control-label col-md-2" })
                }
                else
                {
                    @Html.LabelFor(model => model.FizVelId, "Раздел физики", htmlAttributes: new { @class = "control-label col-md-2" })
                }
                <div class="col-md-10">
                    @Html.DropDownList("fizVelId", null, htmlAttributes: new { id = "fizVelId", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FizVelId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group" id="parametricFizVel">
            @if (ViewBag.parametricFizVelId.Count != 0)
            {
                @Html.Label("Название физической величины", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("parametricFizVelId", ViewBag.parametricFizVelId as SelectList, htmlAttributes: new { @class = "form-control" })
                </div>
            }
        </div>
        <div id="prosGroup">
            <div class="form-group" id="pros">
                @if (ViewBag.pros.Count != 0)
                {
                    @Html.Label( "Пространственные характеристики", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <table>
                            <tr>
                                @{

                                int cntPros = 0;
                                    foreach (var pros in ViewBag.pros)
                                    {
                                        if (cntPros++ % 3 == 0)
                                        {
                                            
                                        @:</tr><tr>

    }

    <td>
        <input type="checkbox" name="listSelectedPros" value="@pros.id" /> @pros.name
        <div id="@pros.id" name="0"></div>

    </td>
    }


    }
</tr>
                            </table>
                        </div>
                                    }
            </div>
        </div>
        <div id="specGroup">
            <div class="form-group" id="spec">
                @if (ViewBag.spec.Count != 0)
                {
                    @Html.Label( "Специальные характеристики", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <table>
                            <tr>
                                @{int cntSpec = 0;
                                    foreach (var spec in ViewBag.spec)
                                    {
                                        if (cntSpec++ % 3 == 0)
                                        {
                                            
                                        @:</tr><tr>

    }

    <td>
        <input type="checkbox" name="listSelectedSpec" value="@spec.id" /> @spec.name
        <div id="@spec.id" name="0"></div>

    </td>
    }

</tr>
                                        }
                            </table>
                        </div>
                                    }
            </div>
        </div>
        <div id="vremGroup">
            <div class="form-group" id="vrem">
                @if (ViewBag.vrem.Count != 0)
                {
                    @Html.Label( "Временные характеристики", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <table>
                            <tr>
                                @{int cntVrem = 0;
                                    foreach (var vrem in ViewBag.vrem)
                                    {
                                        if (cntVrem++ % 3 == 0)
                                        {
                                           
                                        @:</tr><tr>

    }

    <td>
        <input type="checkbox" name="listSelectedVrem" value="@vrem.id" /> @vrem.name
        <div id="@vrem.id" name="0"></div>

    </td>
    }

</tr>
                                        }
                            </table>
                        </div>
                                    }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="nameOfButton" value="Отмена" class="btn btn-default" />
                <input type="submit" name="nameOfButton" value="Далее" class="btn btn-default" />
            </div>
        </div>
    </div>
                                    }
<div>
    @Html.ActionLink("Назад на главную страницу", "Index", "Home")
</div>








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/_changeAction.js")
    @Scripts.Render("~/Scripts/_changeParametricFizVel.js")
    @Scripts.Render("~/Scripts/_changePros.js")
    @Scripts.Render("~/Scripts/_changeSpec.js")
    @Scripts.Render("~/Scripts/_changeVrem.js")
    <script type="text/javascript">
        $(document).ready(function ()
        {
            changeParams();
        });
    </script>
}


