@*файл представления для отображения дескрипторной формы(вход\выход)
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.ViewModel.ActionsV.DescriptionInputV



<div>
    @*<hr />*@
    @*@Html.DropDownList("nn", @Model.actionId)*@
    <hr />
    @Html.Label("2 входа?")
    @if (Model.CountInput > 1)
    {
        <input type="checkbox" checked name="changeTwoInputFormDescr" id="changeTwoInputFormDescr_id"/>
    }
    else
    {
        <input type="checkbox" name="changeTwoInputFormDescr" id="changeTwoInputFormDescr_id" />
    }
    @*@Html.CheckBox("changeTwoInputFormDescr")*@
    
    <h1>Вход</h1>
    @*@helpers_.PartFormDescrSearch(Html)*@
    @*@Html.Label("1233")*@


    @*@if(ViewBag.inputForm)*@
    <input type="hidden" id="parametric_action_or_not" value="@Model.ActionParametricIds" />
    @for (var i = 0; i < Model.InputForms.Count; ++i)
    {
        
        <div id=@("block_one_descr_input_"+i)>
            <h2>Вход №@(i + 1)</h2>
            @Html.Action("PartFormDescrSearch", "Helpers", new { a = Model.InputForms[i].Form, type = "I" + i, param = Model.InputForms[i].FormData })
            <hr />
        </div>
        
    }
    
    
    <h1>Выход</h1>
    @for (var i = 0; i < Model.OutpForms.Count; ++i)
    {
        <div id=@("block_one_descr_outp_"+i)>
            @Html.Action("PartFormDescrSearch", "Helpers", new { a = Model.OutpForms[i].Form, type = "O" + i, param = Model.OutpForms[i].FormData })
        </div>
        <hr />
    }
            @* @Html.Action("PartFormDescrSearch", "Helpers", new { a = Model.OutpForm, type = "O", param = Model.OutputFormData })*@


        </div>







@Scripts.Render("~/Scripts/_changeAction.js")
@Scripts.Render("~/Scripts/_changeParametricFizVel.js")

<script type="text/javascript">
        $(document).ready(function ()
        {
            if (!document.getElementById('changeTwoInputFormDescr_id').checked) {//
                var i = 1;//именно 1 тк 0 форма всегда должна быть доступна
                var div=document.getElementById('block_one_descr_input_'+i);
                while (div) {
                    div.style.display = 'none';
                    div = document.getElementById('block_one_descr_input_' + ++i);
                }

            }
           


            //отображаем необходимые label (те которые различаются у параметрических и неп )
            var sdd_i = "@(string.Join(" ",Model?.InputForms.Select(x1=>x1.Form.CurrentAction).ToList()))";//FormData.ActionId
            var sdd_o = "@(string.Join(" ",Model?.OutpForms.Select(x1=>x1.Form.CurrentAction).ToList()))";//FormData.ActionId
       
            var massParamAction = document.getElementById('parametric_action_or_not').value.split(' ');
            var mssdd_i=sdd_i.split(' ');
            var mssdd_o=sdd_o.split(' ');
            for(var i=0;i<mssdd_i.length;++i){
                if (massParamAction.includes(mssdd_i[i])) {
                    //парам
                    changeTypeActionId("I"+i, true);

                }
                else {
                    //не парам
                    changeTypeActionId("I"+i, false);
                }
            }
            for(var i=0;i<mssdd_o.length;++i){
                if (massParamAction.includes(mssdd_o[i])) {
                    //парам
                    changeTypeActionId("O"+i, true);

                }
                else {
                    //не парам
                    changeTypeActionId("O"+i, false);
                }
            }

        });
       

</script>


<script src="~/Scripts/descriptionInput.js" type="text/javascript"></script>

@*@section scripts{
    <script src="~/Scripts/descriptionInput.js" type="text/javascript"></script>

}*@




