
@*@model dip.Models.ViewModel.DescriptionForm*@

@*@{
        ViewBag.Title = "CreateInput";
    }*@

@*@{
        Layout = null;
    }*@


@*@model string*@

<div>
    <hr />
    @*@Html.DropDownList("nn", @Model.actionId)*@
    <hr />
    <h1>Вход</h1>
    @*@helpers_.PartFormDescrSearch(Html)*@
    @*@Html.Label("1233")*@


    @*@if(ViewBag.inputForm)*@
    @helpers_.PartFormDescrSearch(ViewBag.inputForm, "I", ViewBag.inputFormData)
    
    <hr />
    <h1>Выход</h1>
    @helpers_.PartFormDescrSearch(ViewBag.outpForm, "O", ViewBag.outpFormData)
</div>







@Scripts.Render("~/Scripts/_changeAction.js")
@Scripts.Render("~/Scripts/_changeParametricFizVel.js")
@{
/*
@Scripts.Render("~/Scripts/_changePros.js")
@Scripts.Render("~/Scripts/_changeSpec.js")
@Scripts.Render("~/Scripts/_changeVrem.js")*/
}
<script type="text/javascript">
        $(document).ready(function ()
        {
            //changeParams('I');
            //changeParams('O');


            //$(":checkbox").change(function () {
            //    var t = this;
            //    //if (this.checked) {
            //    //    arr[i] = $(this).val();
            //    //    i++;
            //    //} else {
            //    //    var val = $(this).val();
            //    //    var index = arr.indexOf(val);
            //    //    arr.splice(index, 1);
            //    //    i--;
            //    //}
            //    //console.log(arr);
            //});
        });
        var data_descr_search = {
            //have_input:null,
            actionIdI: '',
            actionTypeI: '',
            FizVelIdI: '',
            parametricFizVelIdI: '',
            listSelectedProsI: '',
            listSelectedSpecI: '',
            listSelectedVremI: '',
            actionIdO: '',
            actionTypeO: '',
            FizVelIdO: '',
            parametricFizVelIdO: '',
            listSelectedProsO: '',
            listSelectedSpecO: '',
            listSelectedVremO: '',
            function_trigger: null,
            search: 'yes'
        };
        //var dict = {};
        $(document).on('change', ':checkbox', function () {

            //var name = this.name;
            //if (data_descr_search[name])
            //    data_descr_search[name] ='';
            //var iter=1;
            //var stop=true;
            //do{
            //    var bl = document.getElementById( name + iter);
            //    if (bl) {
            //        if (bl.checked)//.prop('checked')
            //            data_descr_search[name]+=bl.value+' ';//val()
            //    }
            //    else
            //        stop = false;
            //    ++iter;
            //} while (stop);

            //if (this.checked) {
            //    // checkbox is checked
            //    data_descr_search[name]
            //}
            //else {

            //}
            // var tt = data_descr_search;



             
            if (this.name.indexOf('listSelectedPros') >= 0) {
                //pros
                loadCheckBoxChild(this, 'GetProsChild', 'Pros');
            }
            else if (this.name.indexOf('listSelectedSpec') >= 0) {
                //spec
                loadCheckBoxChild(this, 'GetSpecChild', 'Spec');
            }
            else if (this.name.indexOf('listSelectedVrem') >= 0) {
                //vrem
                loadCheckBoxChild(this, 'GetVremChild', 'Vrem');
            }


        });



    //-------------------------------------------------------------------------------------------

        //function loadProsChild(ch) {
        //    var type = ch.id.split('Pros')[1][0];
        //    var div = document.getElementById((ch.value + type));
           
        //    if (div && !div.innerHTML.trim()) {
        //        goAjaxRequest({
        //            url: '/Actions/GetProsChild?id=' + ch.value + '&type=' + type,
        //            func_success: function (data, status, jqXHR) {

        //                if (data.trim()) {
        //                    div.innerHTML = data;
        //                }
        //                else {
        //                    div.remove();
        //                }

        //            }
        //        });
        //    }
            
        //}


        //function loadSpecChild(ch) {
        //    var type = ch.id.split('Spec')[1][0];
        //    var div = document.getElementById((ch.value + type));

        //    if (div && !div.innerHTML.trim()) {
        //        goAjaxRequest({
        //            url: '/Actions/GetSpecChild?id=' + ch.value + '&type=' + type,
        //            func_success: function (data, status, jqXHR) {

        //                if (data.trim()) {
        //                    div.innerHTML = data;
        //                }
        //                else {
        //                    div.remove();
        //                }

        //            }
        //        });
        //    }

        //}


        //function loadVremChild(ch) {
        //    var type = ch.id.split('Vrem')[1][0];
        //    var div = document.getElementById((ch.value + type));

        //    if (div && !div.innerHTML.trim()) {
        //        goAjaxRequest({
        //            url: '/Actions/GetSpecChild?id=' + ch.value + '&type=' + type,
        //            func_success: function (data, status, jqXHR) {

        //                if (data.trim()) {
        //                    div.innerHTML = data;
        //                }
        //                else {
        //                    div.remove();
        //                }

        //            }
        //        });
        //    }

        //}


        function loadCheckBoxChild(ch,meth,key) {
            var type = ch.name.split(key)[1][0];
            var div = document.getElementById((ch.value + type));

            if (div && !div.innerHTML.trim()) {
                goAjaxRequest({
                    url: '/Actions/' + meth + '?id=' + ch.value + '&type=' + type,
                    func_success: function (data, status, jqXHR) {

                        if (data.trim()) {
                            div.innerHTML = data;
                        }
                        else {
                            div.remove();
                        }

                    }
                });
            }

        }


    //-------------------------------------------------------------------------------------------


        //function ggg(callF) {
        //    data_descr_search.function_trigger = callF;
        //}
        function Go_next_step() {

            data_descr_search.actionIdI = UndefinedToStr($('#actionI').val());
            data_descr_search.actionTypeI = UndefinedToStr($('#actionTypeI').val());
            data_descr_search.FizVelIdI = UndefinedToStr($('#fizVelIdI').val());
            data_descr_search.parametricFizVelIdI = UndefinedToStr($('#parametricFizVelIdI').val());
          


            data_descr_search.actionIdO = UndefinedToStr($('#actionO').val());
            data_descr_search.actionTypeO = UndefinedToStr($('#actionTypeO').val());
            data_descr_search.FizVelIdO = UndefinedToStr($('#fizVelIdO').val());
            data_descr_search.parametricFizVelIdO = UndefinedToStr($('#parametricFizVelIdO').val());
           

            data_descr_search.listSelectedProsO = '';
            data_descr_search.listSelectedSpecO = '';
            data_descr_search.listSelectedVremO = '';

            data_descr_search.listSelectedProsI = '';
            data_descr_search.listSelectedSpecI = '';
            data_descr_search.listSelectedVremI = '';
            $('#prosGroupO input:checkbox:checked').each(function () {//[type=checkbox]
                data_descr_search.listSelectedProsO += $(this).attr('value') + ' ';
            });

            $('#specGroupO input:checkbox:checked').each(function () {//[type=checkbox]
               // alert($(this).attr('value'));
                data_descr_search.listSelectedSpecO += $(this).attr('value') + ' ';
            });

            $('#vremGroupO input:checkbox:checked').each(function () {//[type=checkbox]
                data_descr_search.listSelectedVremO += $(this).attr('value') + ' ';
            });

            $('#prosGroupI input:checkbox:checked').each(function () {//[type=checkbox]
                data_descr_search.listSelectedProsI += $(this).attr('value') + ' ';
            });

            $('#specGroupI input:checkbox:checked').each(function () {//[type=checkbox]
                // alert($(this).attr('value'));
                data_descr_search.listSelectedSpecI += $(this).attr('value') + ' ';
            });

            $('#vremGroupI input:checkbox:checked').each(function () {//[type=checkbox]
                data_descr_search.listSelectedVremI += $(this).attr('value') + ' ';
            });

            //location.href = "xuz";
            if (data_descr_search.function_trigger != null)
                data_descr_search.function_trigger();







        }

        function UndefinedToStr(str) {
            return str === undefined || str === "undefined" || str === "null" || str == null ?//|| str === ""
            "" : str;
        }







</script>





