
@*@model dip.Models.ViewModel.DescriptionForm*@

@*@{
        ViewBag.Title = "CreateInput";
    }*@

@*@{
        Layout = null;
    }*@


@*@model string*@

<div>
    <hr />
    @*@Html.DropDownList("nn", @Model.actionId)*@
    <hr />
    <h1>Вход</h1>
    @*@helpers_.PartFormDescrSearch(Html)*@
    @*@Html.Label("1233")*@


    @*@if(ViewBag.inputForm)*@
    @helpers_.PartFormDescrSearch(ViewBag.inputForm, "I", ViewBag.inputFormData)
    
    <hr />
    <h1>Выход</h1>
    @helpers_.PartFormDescrSearch(ViewBag.outpForm, "O", ViewBag.outpFormData)
</div>

<div>
    <button class="btn btn-default" onclick="Go_next_step()">Поиск</button>
</div>





@Scripts.Render("~/Scripts/_changeAction.js")
@Scripts.Render("~/Scripts/_changeParametricFizVel.js")
@{
/*
@Scripts.Render("~/Scripts/_changePros.js")
@Scripts.Render("~/Scripts/_changeSpec.js")
@Scripts.Render("~/Scripts/_changeVrem.js")*/
}
<script type="text/javascript">
        $(document).ready(function ()
        {
            //changeParams('I');
            //changeParams('O');


            //$(":checkbox").change(function () {
            //    var t = this;
            //    //if (this.checked) {
            //    //    arr[i] = $(this).val();
            //    //    i++;
            //    //} else {
            //    //    var val = $(this).val();
            //    //    var index = arr.indexOf(val);
            //    //    arr.splice(index, 1);
            //    //    i--;
            //    //}
            //    //console.log(arr);
            //});
        });
        var data_descr_search = {
            //have_input:null,
            actionIdI: null,
            actionTypeI: null,
            FizVelIdI: null,
            parametricFizVelIdI: null,
            listSelectedProsI: '',
            listSelectedSpecI: '',
            listSelectedVremI: '',
            actionIdO: null,
            actionTypeO: null,
            FizVelIdO: null,
            parametricFizVelIdO: null,
            listSelectedProsO: '',
            listSelectedSpecO: '',
            listSelectedVremO: '',
            function_trigger: null,
            search: 'yes'
        };
        //var dict = {};
        $(document).on('change', ':checkbox', function () {

            var name = this.name;
            if (data_descr_search[name])
                data_descr_search[name] ='';
            var iter=1;
            var stop=true;
            do{
                var bl = document.getElementById( name + iter);
                if (bl) {
                    if (bl.checked)//.prop('checked')
                        data_descr_search[name]+=bl.value+' ';//val()
                }
                else
                    stop = false;
                ++iter;
            } while (stop);

            //if (this.checked) {
            //    // checkbox is checked
            //}
           // var tt = data_descr_search;
        });







        //function ggg(callF) {
        //    data_descr_search.function_trigger = callF;
        //}
        function Go_next_step() {

            data_descr_search.actionIdI = UndefinedToNull($('#actionI').val());
            data_descr_search.actionTypeI = UndefinedToNull($('#actionTypeI').val());
            data_descr_search.FizVelIdI = UndefinedToNull($('#fizVelIdI').val());
            data_descr_search.parametricFizVelIdI = UndefinedToNull($('#parametricFizVelIdI').val());
            //data_descr_search.listSelectedProsI = data_descr_search.listSelectedProsI;//name listSelectedPros
            //data_descr_search.listSelectedSpecI = data_descr_search.listSelectedSpecI;
            //data_descr_search.listSelectedVremI = data_descr_search.listSelectedVremI;


            data_descr_search.actionIdO = UndefinedToNull($('#actionO').val());
            data_descr_search.actionTypeO = UndefinedToNull($('#actionTypeO').val());
            data_descr_search.FizVelIdO = UndefinedToNull($('#fizVelIdO').val());
            data_descr_search.parametricFizVelIdO = UndefinedToNull($('#parametricFizVelIdO').val());
            //data_descr_search.listSelectedProsO = data_descr_search.listSelectedProsO;//name listSelectedPros
            //data_descr_search.listSelectedSpecO = data_descr_search.listSelectedSpecO;
            //data_descr_search.listSelectedVremO = data_descr_search.listSelectedVremO;

            //location.href = "xuz";
            if (data_descr_search.function_trigger != null)
                data_descr_search.function_trigger();







        }

        function UndefinedToNull(str) {
            return str === undefined || str === "undefined" ?//|| str === ""
            null : str;
        }







</script>





