


@if (ViewBag.ProsShildList != null)
{
    @helpers_.DescrFormVrem(ViewBag.type, ViewBag.VremShildList)
}



@*@model dip.Models.Domain.Action
@if (ViewBag.vremChild.Count != 0)
{
    <div id=@(ViewBag.parent+((string)ViewBag.type)) name="1">
        <table>
            <tr>
                @{
                    int cnt = 0;
                    foreach (var vrem in ViewBag.vremChild)
                    {
                        if (cnt++ % 3 == 0)
                        {
                            @:</tr><tr>
                    }
                        @:<td>
                        if (vrem.IsSelected == true)
                        {
                            <input type="checkbox" name=@("listSelectedVrem"+((string)ViewBag.type)) value="@vrem.Id" checked /> @vrem.Name
                        }
                        else
                        {
                            <input type="checkbox" name=@("listSelectedVrem"+((string)ViewBag.type)) value="@vrem.Id" /> @vrem.Name
                        }
                        <div id=@(vrem.Id+((string)ViewBag.type)) name="0"></div>
                        @:</td>
                }
                    @:</tr>
                }
            </table>
        </div>
                    }*@
