@using dip.Models.Domain;
@model dip.Models.ViewModel.ActionsV.LoadDescrV

<div>
    <div>
        <p>Входные</p>
        <p>
            <label>Название воздействия:</label>
            <label>@(Model.DictDescrData["NameI"])</label>
        </p>
        <p>
            <label>Тип входа:</label>
            <label>@(Model.DictDescrData["TypeI"])</label>
        </p>
        @if (string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamI"]))
        {
            <p>
                <label>Название физической величины:</label>
                <label>@(Model.DictDescrData["FizVelIdI"])</label>
            </p>
            <p>
                <label>Пространственные характеристики:</label>
                <label>@(Model.DictDescrData["ProsI"])</label>
            </p>
            <p>
                <label>Специальные характеристики:</label>
                <label>@(Model.DictDescrData["SpecsI"])</label>
            </p>
            <p>
                <label>Временные характеристики:</label>
                <label>@(Model.DictDescrData["VremsI"])</label>
            </p>
        }
@if (!string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamI"]))
{
    <p>
        <label>Раздел физики:</label>
        <label>@(Model.DictDescrData["FizVelIdI"])</label>
    </p>
    <p>
        <label>Название физической величины:</label>
        <label>@(Model.DictDescrData["FizVelparamI"])</label>
    </p>
}

    </div>
    <div>
        <p>Выходные</p>
        <p>
            <label>Название воздействия:</label>
            <label>@(Model.DictDescrData["NameO"])</label>
        </p>
        <p>
            <label>Тип входа:</label>
            <label>@(Model.DictDescrData["TypeO"])</label>
        </p>
        @if (string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamO"]))
        {
            <p>
                <label>Название физической величины:</label>
                <label>@(Model.DictDescrData["FizVelIdO"])</label>
            </p>
            <p>
                <label>Пространственные характеристики:</label>
                <label>@(Model.DictDescrData["ProsO"])</label>
            </p>
            <p>
                <label>Специальные характеристики:</label>
                <label>@(Model.DictDescrData["SpecsO"])</label>
            </p>
            <p>
                <label>Временные характеристики:</label>
                <label>@(Model.DictDescrData["VremsO"])</label>
            </p>
        }
        @if (!string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamO"]))
        {
            <p>
                <label>Раздел физики:</label>
                <label>@(Model.DictDescrData["FizVelIdO"])</label>
            </p>
            <p>
                <label>Название физической величины:</label>
                <label>@(Model.DictDescrData["FizVelparamO"])</label>
            </p>
        }



    </div>
    


</div>

<p></p>










