@*файл представления для отображения текстового представления дескрипторной формы(вход\выход)
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@


@using dip.Models.Domain;
@model dip.Models.ViewModel.ActionsV.LoadDescrV

<div>
    <div>
        <p>Входные</p>
        @for (int i = 1; Model.DictDescrData.ContainsKey("NameI" + i); ++i)
        {
            <label>Вход №@i</label>
            <p>
                <label>Название воздействия:</label>
                <span class="breakWord">@(Model.DictDescrData["NameI"+i])</span>
            </p>
            <p>
                <label>Тип входа:</label>
                <span class="breakWord">@(Model.DictDescrData["TypeI" + i])</span>
            </p>
            if (string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamI" + i]))
            {
                <p>
                    <label>Название физической величины:</label>
                    <span class="breakWord">@(Model.DictDescrData["FizVelIdI" + i])</span>
                </p>
                <div>
                    <label>Пространственные характеристики:</label>
                    @*<p class="breakWord">*@
                        @foreach (var i2 in (Model.DictDescrData["ProsI" + i]).Split(new string[] { "-> " }, StringSplitOptions.RemoveEmptyEntries))
                        {
                        <p  class="breakWord">
                            @i2
                        </p>
                        }


                        @*</p>*@
                    </div>
                <div>
                    <label>Специальные характеристики:</label>
                    @*<span class="breakWord">@(Model.DictDescrData["SpecsI" + i])</span>*@
                @foreach (var i2 in (Model.DictDescrData["SpecsI" + i]).Split(new string[] { "-> " }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <p class="breakWord">
                        @i2
                    </p>
                }
                
                </div>
                <div>
                    <label>Временные характеристики:</label>
                    @*<span class="breakWord">@(Model.DictDescrData["VremsI" + i])</span>*@
                    @foreach (var i2 in (Model.DictDescrData["VremsI" + i]).Split(new string[] { "-> " }, StringSplitOptions.RemoveEmptyEntries))
                    {
                        <p class="breakWord">
                            @i2
                        </p>
                    }
                </div>
            }
            if (!string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamI" + i]))
            {
                <p>
                    <label>Раздел физики:</label>
                    <span class="breakWord">@(Model.DictDescrData["FizVelIdI" + i])</span>
                </p>
                <p>
                    <label>Название физической величины:</label>
                    <span class="breakWord">@(Model.DictDescrData["FizVelparamI" + i])</span>
                </p>
            }
        }
        

    </div>
    <div>
        <p>Выходные</p>

@for (int i = 1; Model.DictDescrData.ContainsKey("NameO" + i); ++i)
{
    <p>
        <label>Название воздействия:</label>
        <span class="breakWord">@(Model.DictDescrData["NameO" + i])</span>
    </p>
        <p>
            <label>Тип входа:</label>
            <span class="breakWord">@(Model.DictDescrData["TypeO" + i])</span>
        </p>
        if (string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamO" + i]))
        {
            <p>
                <label>Название физической величины:</label>
                <span class="breakWord">@(Model.DictDescrData["FizVelIdO" + i])</span>
            </p>
            <p>
                <label>Пространственные характеристики:</label>
                <span class="breakWord">@(Model.DictDescrData["ProsO" + i])</span>
            </p>
            <p>
                <label>Специальные характеристики:</label>
                <span class="breakWord">@(Model.DictDescrData["SpecsO" + i])</span>
            </p>
            <p>
                <label>Временные характеристики:</label>
                <span class="breakWord">@(Model.DictDescrData["VremsO" + i])</span>
            </p>
        }
        if (!string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamO" + i]))
        {
            <p>
                <label>Раздел физики:</label>
                <span class="breakWord">@(Model.DictDescrData["FizVelIdO" + i])</span>
            </p>
            <p>
                <label>Название физической величины:</label>
                <span class="breakWord">@(Model.DictDescrData["FizVelparamO" + i])</span>
            </p>
        }


}
        


    </div>
    


</div>

<p></p>










