@using dip.Models.Domain;
@model dip.Models.ViewModel.ActionsV.LoadDescrV

<div>
    <div>
        <p>Входные</p>
        @for (int i = 1; Model.DictDescrData.ContainsKey("NameI" + i); ++i)
        {

            <p>
                <label>Название воздействия:</label>
                <label>@(Model.DictDescrData["NameI"+i])</label>
            </p>
            <p>
                <label>Тип входа:</label>
                <label>@(Model.DictDescrData["TypeI" + i])</label>
            </p>
            if (string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamI" + i]))
            {
                <p>
                    <label>Название физической величины:</label>
                    <label>@(Model.DictDescrData["FizVelIdI" + i])</label>
                </p>
                <p>
                    <label>Пространственные характеристики:</label>
                    <label>@(Model.DictDescrData["ProsI" + i])</label>
                </p>
                <p>
                    <label>Специальные характеристики:</label>
                    <label>@(Model.DictDescrData["SpecsI" + i])</label>
                </p>
                <p>
                    <label>Временные характеристики:</label>
                    <label>@(Model.DictDescrData["VremsI" + i])</label>
                </p>
            }
            if (!string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamI" + i]))
            {
                <p>
                    <label>Раздел физики:</label>
                    <label>@(Model.DictDescrData["FizVelIdI" + i])</label>
                </p>
                <p>
                    <label>Название физической величины:</label>
                    <label>@(Model.DictDescrData["FizVelparamI" + i])</label>
                </p>
            }
        }
        

    </div>
    <div>
        <p>Выходные</p>

@for (int i = 1; Model.DictDescrData.ContainsKey("NameO" + i); ++i)
{
    <p>
        <label>Название воздействия:</label>
        <label>@(Model.DictDescrData["NameO" + i])</label>
    </p>
        <p>
            <label>Тип входа:</label>
            <label>@(Model.DictDescrData["TypeO" + i])</label>
        </p>
        if (string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamO" + i]))
        {
            <p>
                <label>Название физической величины:</label>
                <label>@(Model.DictDescrData["FizVelIdO" + i])</label>
            </p>
            <p>
                <label>Пространственные характеристики:</label>
                <label>@(Model.DictDescrData["ProsO" + i])</label>
            </p>
            <p>
                <label>Специальные характеристики:</label>
                <label>@(Model.DictDescrData["SpecsO" + i])</label>
            </p>
            <p>
                <label>Временные характеристики:</label>
                <label>@(Model.DictDescrData["VremsO" + i])</label>
            </p>
        }
        if (!string.IsNullOrWhiteSpace(Model.DictDescrData["FizVelparamO" + i]))
        {
            <p>
                <label>Раздел физики:</label>
                <label>@(Model.DictDescrData["FizVelIdO" + i])</label>
            </p>
            <p>
                <label>Название физической величины:</label>
                <label>@(Model.DictDescrData["FizVelparamO" + i])</label>
            </p>
        }


}
        


    </div>
    


</div>

<p></p>










