@model dip.Models.ViewModel.ActionsV.ObjectInputV




<div>
    <hr />
    @*@Html.DropDownList("nn", @Model.actionId)*@
    @Html.CheckBox("changeObjectCheckbox")
    @Html.Label("Объект изменяется")
    <hr />
    <h1>Начальное состояние объекта</h1>
    @*@helpers_.PartFormDescrSearch(Html)*@
    @*@Html.Label("1233")*@


    @*@if(ViewBag.inputForm)*@
    @*<input type="hidden" id="parametric_action_or_not" value="@Model.ActionParametricIds" />*@
    <div>
        <div>
            @Html.Action("PartFormStateObject", "Helpers", new { a = Model.StatesStart, type = "S", param = Model.StateStartSelected })
        </div>
        <div>
            @Html.Action("PartFormCharacteristicObject", "Helpers", new { a = Model.CharacteristicsStart, type = "S", param = Model.StateStartSelected })
        </div>
    </div>
    <hr />
    @if (Model.changeStateObject)
    {
        <h1>Конечное состояние объекта</h1>
        <div>
            <div>
                @Html.Action("PartFormStateObject", "Helpers", new { a = Model.StatesEnd, type = "E", param = Model.StateEndSelected })
            </div>
            <div>
                @Html.Action("PartFormCharacteristicObject", "Helpers", new { a = Model.CharacteristicsEnd, type = "E", param = Model.StateEndSelected })
            </div>
        </div>
    }
    
    </div>
