@*файл представления для отображения состояний объекта
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.ViewModel.ActionsV.ObjectInputV


<div>

    @if (Model.changedObject)
    {
        <input id="changeObjectCheckbox" name="changeObjectCheckbox" type="checkbox" checked>

    }
    else
    {
        <input id="changeObjectCheckbox" name="changeObjectCheckbox" type="checkbox">

    }

    @Html.Label("Объект изменяется")
    @*<hr />*@
    <div id="formPartStartId">
        <h1>Начальное состояние объекта</h1>
 
        <div>
            <div>
                @Html.Action("PartFormStateObject", "Helpers", new { a = Model.StatesBegin, type = "S", param = Model.StateBeginSelected })
            </div>
            <div>
                @Html.Action("PartFormCharacteristicObject", "Helpers", new { a = Model.CharacteristicsBegin, type = "S", param = Model.StateBeginSelected })
            </div>
        </div>
    </div>
        <hr />
    @{ 
        string displayEnd = Model.changedObject ? "block;" : "none;";
    }
        <div id="formPartEndId" style="display:@displayEnd">
            <h1>Конечное состояние объекта</h1>
            <div>
                <div>
                    @Html.Action("PartFormStateObject", "Helpers", new { a = Model.StatesEnd, type = "E", param = Model.StateEndSelected })
                </div>
                <div>
                    @Html.Action("PartFormCharacteristicObject", "Helpers", new { a = Model.CharacteristicsEnd, type = "E", param = Model.StateEndSelected })
                </div>
            </div>

        </div>
    </div>


<script src="~/Scripts/objectInput.js" type="text/javascript"></script>

@*@section scripts{
    <script src="~/Scripts/objectInput.js" type="text/javascript"></script>

}*@