


@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.Vrem>



<div class="form-group descrCheckBoxChild" @*id=@("vrem"+type)*@>
    @if (Model.List!= null && Model.List.Count != 0)
    {

        <div class="col-md-10">

            @{

                foreach (var vrem in Model.List)
                {
                    <div>


                        @{
                            bool? needSelected = Model.Param?.listSelectedVrem?.Split(new string[] { " " }, StringSplitOptions.RemoveEmptyEntries)?.Contains(vrem.Id);

                        }
                        <label>
                            @if (needSelected == true)
                            {
                                <input class="checkBoxClass" type="checkbox" @*id=@("listSelectedVrem"+type+cnt)*@ checked name=@("listSelectedVrem"+Model.Type) value="@vrem.Id" />

                            }
                            else
                            {
                               <input class="checkBoxClass" type="checkbox" @*id=@("listSelectedVrem"+type+cnt)*@ name=@("listSelectedVrem"+Model.Type) value="@vrem.Id" /> 

                            }
                            @vrem.Name
                        </label>
                        <div id="@(vrem.Id+Model.Type)" name="0">
                            @if (vrem.Childs.Count > 0)
                            {
                                @Html.Action("DescrFormVrem", "Helpers", new { type= Model.Type,vrems= vrem.Childs,param= Model.Param })
                               
                            }

                        </div>

                    </div>
                            }


            }

        </div>
                            }
</div>


