

@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.Pro>



<div class="form-group descrCheckBoxChild" @*id=@("pros" + type)*@>
    <div class="" id="@(Model.ParentId+"_PROS")">
        @if (Model.List != null)
        {

            foreach (var pro in Model.List)
            {
                <div class="one_check_line_edit"  id="div_@(pro.Id)_all">
                    <input id="@(pro.Id+"_chch")" class="checkBoxClass" type="checkbox" name=@("listSelectedPros") value="@pro.Id" />
                    <button id="@(pro.Id+"_delbut")" onclick="deleteItem('@pro.Id')">Удалить</button>
                    <input name=@(@Model.ParentId @*@pro.Parent*@) id="@pro.Id" type="text" value="@pro.Name"/>
                       
                  


                    <div id="@(pro.Id + "_childs")">

                    </div>

                </div>
            }


        }
    </div>
    <div class="">
        <button  onclick="addNewPro('@Model.ParentId')">Добавить</button>
    </div>
</div>

