


@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.Vrem>



<div class="form-group descrCheckBoxChild" >
    @if (Model.List!= null && Model.List.Count != 0)
    {

        <div class="col-md-10">

            @{
                    string[] needSelectedList = Model.Param?.ListSelectedVrem?.Split(new string[] { " " }, StringSplitOptions.RemoveEmptyEntries);
                    foreach (var vrem in Model.List)
                    {
                    <div>
    

                        @{
                            bool? needSelected = needSelectedList?.Contains(vrem.Id);

                        }
                        <label>
                            @if (needSelected == true)
                                {
                                <input class="checkBoxClass" type="checkbox"  checked name=@("listSelectedVrem"+Model.Type) value="@vrem.Id" />

                            }
                            else
                            {
                               <input class="checkBoxClass" type="checkbox"  name=@("listSelectedVrem"+Model.Type) value="@vrem.Id" /> 

                            }
                            @vrem.Name
                        </label>
                        <div id="@(vrem.Id+Model.Type)" name="0">
                            @if (vrem.Childs.Count > 0)
                            {
                                @Html.Action("DescrFormVrem", "Helpers", new { type= Model.Type,vrems= vrem.Childs,param= Model.Param })
                               
                            }

                        </div>

                    </div>
                            }


            }

        </div>
                            }
</div>


