@*файл представления для отображения части дескрипторной формы для редактирования(Spec)
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@



@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.Spec>




    
        <div class="form-group descrCheckBoxChildEdit">
            <div class="" id="@(Model.ParentId+"_SPEC")">
                @if (Model.List != null)
                {

                    foreach (var spec in Model.List)
                    {
                        <div class="one_check_line_edit"  id="div_@(spec.Id)_all">
                            <input  id="@(spec.Id+"_chch")"  class="checkBoxClass" type="checkbox" name=@("listSelectedSpecs") value="@spec.Id" />
                            <button class="btn btn-default"  id="@(spec.Id+"_delbut")"  onclick="deleteItemSpec('@spec.Id')">Удалить</button>
                            <button class="btn btn-default" onclick="changeSpecs('@spec.Id')">Изменить</button>
                            <button id="restoreInput_but_@spec.Id" class="btn btn-default" onclick="restoreValue(5,'@spec.Id')" style="display:none;">Восстановить значение</button>
                            <input class="form-control" name=@(@Model.ParentId @*@spec.Parent*@) id="@(spec.Id+"_inp")" value="@spec.Name" type="text" readonly/>




                            <div id="@(spec.Id+"_childs")">

                            </div>
                        </div>
                    }


                }
            </div>
            <div class="">
                <button class="btn btn-default" onclick="addNewSpec('@Model.ParentId')">Добавить</button>
            </div>
        </div>
   
