


@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.FizVel>






    @*@if (Model.Param?.Parametric==false)
    {

        <label class="control-label col-md-2" for="fizVelId">Название физической величины</label>
    }
    else
    {

        <label class="control-label col-md-2" for="fizVelId">Раздел физики</label>
    }*@
    @*<div class="col-md-10">*@
        
       

            @foreach (var i in Model.List)
            {
                <div class="padding_10_top">
                    <input name="fizVelId" type="radio" value="@i.Id" id="@(i.Id+"_radio")" class="radioClass" style="display:none;">
                    <button class="btn btn-default" onclick="changeFizVels('@i.Id')">Изменить</button>
                    <button class="btn btn-default" onclick="">Удалить</button>
                    <input class="form-control" type="text" value="@i.Name" name="@i.Id" id="@(i.Id+"_inp")" readonly />
                </div>
                    @*<input type="text" value="@i.Name" name="@i.Id" />*@
               

            }

        @*</select>*@





    @*</div>*@


