


@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.FizVel>


            @foreach (var i in Model.List)
            {
                <div class="padding_10_top">
                    <input name="fizVelId" type="radio" value="@i.Id" id="@(i.Id+"_radio")" class="radioClass" style="display:none;">
                    <button class="btn btn-default" onclick="changeFizVels('@i.Id')">Изменить</button>
                    <button id="restoreInput_but_@i.Id" class="btn btn-default" onclick="restoreValue(2,'@i.Id')" style="display:none;">Восстановить значение</button>
                    <button class="btn btn-default" id="@(i.Id+"_delbut")" onclick="deleteItemFizVels('@i.Id')">Удалить</button>
                    <input class="form-control" type="text" value="@i.Name" name="@i.Parent" id="@(i.Id+"_inp")" readonly />
                </div>
                 
            }

