

@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.Spec>


<div class="form-group descrCheckBoxChild" @*id=@("spec"+type)*@>
    @if (Model.List != null && Model.List.Count != 0)
    {
        @*@Html.LabelFor(model => model.Specs, "Специальные характеристики", htmlAttributes: new { @class = "control-label col-md-2" })*@
        @*<label class="control-label col-md-2">Специальные характеристики</label>*@
        <div class="col-md-10">

            @{
                string[] needSelectedList = Model.Param?.listSelectedSpec?.Split(new string[] { " " }, StringSplitOptions.RemoveEmptyEntries);
                foreach (var spec in Model.List)
                {
                    <div>
                        @{
                            bool? needSelected = needSelectedList?.Contains(spec.Id);

                        }

                        <label>
                            @if (needSelected == true)
                            {
                                <input class="checkBoxClass" type="checkbox" @*id=@("listSelectedSpec"+type+cnt)*@ checked name=@("listSelectedSpec"+Model.Type) value="@spec.Id" />


                            }
                            else
                            {
                                <input class="checkBoxClass" type="checkbox" @*id=@("listSelectedSpec"+type+cnt)*@ name=@("listSelectedSpec"+Model.Type) value="@spec.Id" /> 

                            }
                            @spec.Name
                        </label>


                        <div id="@(spec.Id+Model.Type)" name="0">
                            @if (spec.Childs.Count > 0)
                            {
                                @Html.Action("DescrFormSpec", "Helpers", new { type = Model.Type, specs = spec.Childs, param = Model.Param })
                                
                            }
                        </div>
                    </div>
                            }

            }

        </div>
                            }
</div>









