


@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.FizVel>


<div class="form-group" id=@("parametricFizVel"+Model.Type)>
    @if (Model.List != null && Model.List.Count != 0)
    {
        @*@Html.Label("Название физической величины", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label class="control-label col-md-2" for="@("parametricFizVelId"+ Model.Type)">Название физической величины</label>
            <div class="col-md-10">
                @*@Html.DropDownList("parametricFizVelId"+ ((string)ViewBag.type), ViewBag.parametricFizVelId as SelectList, htmlAttributes: new { @class = "form-control" })*@

                <select name=@("parametricFizVelId"+ Model.Type) class="form-control" id=@("parametricFizVelId"+ Model.Type)>
                    @*<option value="NO_FIZVEL">Не выбрано</option>*@
                    @foreach (var i in Model.List)
                    {

                        if (Model.Param?.parametricFizVelId == i.Id)
                        {
                            <option selected value="@i.Id">@i.Name</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Name</option>
                        }


                    }

                </select>

            </div>
    }
</div>

