



@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.FizVel>


    @if (Model.List != null && Model.List.Count != 0)
    {
                foreach (var i in Model.List)
                {
                    <div class="padding_10_top">
                        <button class="btn btn-default" onclick="changeParamFizVels('@i.Id')">Изменить</button>
                        <button id="restoreInput_but_@i.Id" class="btn btn-default" onclick="restoreValue(3,'@i.Id')" style="display:none;">Восстановить значение</button>
                        <button id=@(i.Id+"_delbut") class="btn btn-default" onclick="deleteItemFizVels('@i.Id')">Удалить</button>
                        <input class="form-control" type="text" value="@i.Name" name="@Model.ParentId" id="@(i.Id+"_inp")" readonly />
                        
                    </div>
                }
                }


