

@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.Pro>



<div class="form-group descrCheckBoxChildEdit" @*id=@("pros" + type)*@>
    <div class="" id="@(Model.ParentId+"_PROS")">
        @if (Model.List != null)
        {

            foreach (var pro in Model.List)
            {
                <div class="one_check_line_edit"  id="div_@(pro.Id)_all">
                    <input id="@(pro.Id+"_chch")" class="checkBoxClass" type="checkbox" name=@("listSelectedPros") value="@pro.Id" />
                    <button class="btn btn-default" id="@(pro.Id+"_delbut")" onclick="deleteItemPro('@pro.Id')">Удалить</button>
                    <button class="btn btn-default" onclick="changePros('@pro.Id')">Изменить</button>
                    <button id="restoreInput_but_@pro.Id" class="btn btn-default" onclick="restoreValue(4,'@pro.Id')" style="display:none;">Восстановить значение</button>
                    <input class="form-control" name=@(@Model.ParentId @*@pro.Parent*@) id="@(pro.Id+"_inp")" type="text" value="@pro.Name" readonly/>
                       
                  


                    <div id="@(pro.Id + "_childs")">

                    </div>

                </div>
            }


        }
    </div>
    <div class="">
        <button class="btn btn-default"  onclick="addNewPro('@Model.ParentId')">Добавить</button>
    </div>
</div>

