


@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.Spec>




    @*@Html.Action("DescrFormSpec", "Helpers", new { type = "", specs = Model.Specs })*@

    
        <div class="form-group descrCheckBoxChild">
            <div class="col-md-10" id="@(Model.ParentId+"_SPEC")">
                @if (Model.List != null)
                {

                    foreach (var spec in Model.List)
                    {
                        <div id="div_@(spec.Id)_all">
                            <input class="checkBoxClass" type="checkbox" name=@("listSelectedSpecs") value="@spec.Id" />
                            <button onclick="deleteItem('@spec.Id')">Удалить</button>
                            <input name=@(@Model.ParentId @*@spec.Parent*@) id="@spec.Id" value="@spec.Name" type="text" />




                            <div id="@(spec.Id+"_childs")">

                            </div>
                        </div>
                    }


                }
            </div>
            <div class="col-md-10">
                <button onclick="addNewSpec('@Model.ParentId')">Добавить</button>
            </div>
        </div>
   
