



@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.Vrem>



<div class="form-group descrCheckBoxChildEdit">
    <div class="" id="@(Model.ParentId+"_VREM")">
        @if (Model.List != null && Model.List.Count != 0)
        {

            foreach (var vrem in Model.List)
            {
                <div class="one_check_line_edit"  id="div_@(vrem.Id)_all">
                    <input  id="@(vrem.Id+"_chch")"  class="checkBoxClass" type="checkbox" name=@("listSelectedVrems") value="@vrem.Id" />
                    <button class="btn btn-default" id="@(vrem.Id+"_delbut")"  onclick="deleteItem('@vrem.Id')">Удалить</button>
                    <button class="btn btn-default" onclick="changeVrems('@vrem.Id')">Изменить</button>
                    <input class="form-control" name="@(@Model.ParentId @*@vrem.Parent*@)" id="@(vrem.Id+"_inp")" value="@vrem.Name" type="text" readonly/>




                    <div id="@(vrem.Id + "_childs")">

                    </div>
                </div>
            }


        }
    </div>
    <div class="">
        <button class="btn btn-default" onclick="addNewVrem('@Model.ParentId')">Добавить</button>
    </div>
</div>