@model dip.Models.ViewModel.HelpersV.ListUsersShortDataWithButtonV



@foreach (var i in Model.Users)
{
    <div>
        <a href="/Person/PersonalRecord/"></a>
        @Html.ActionLink(@i.Name, "PersonalRecord", "Person", new { personId = i.Id }, new { })
        @*<lavel title="Имя пользователя">@i.Name</lavel>*@
        <lavel title="Id пользователя">@i.Id</lavel>
        <button class="btn btn-default" onclick="ListUsersShortDataButton('@i.Id')">@Model.ButText</button>
    </div>
}


