


@model dip.Models.ViewModel.PhysicV.ListFeTextV




<div id="one_load_block_fetext_list_id_@(Model.NumLoad)">
    @foreach (var i in Model.FeTexts)
    {
        <div class="one_block_fetext_list_external" id="one_block_fetext_listexternal_id_@i.IDFE">
            @*див с с id с такой структурой(5 подчеркиваний и потом id) должен быть внешним*@
            <a href="/Physic/Details/@i.IDFE" class="link_standart_for_div">
                <div class="one_block_fetext_list" id="one_block_fetext_list_id_@i.IDFE">
                    @*<p>@Html.ActionLink(i.Name, "Details", "Physic", new { id = i.IDFE }, new { })</p>*@
                    <h4>@i.Name</h4>
                    @{
                        int countInStr = (int)(i.Text.Length * 0.3);
                        countInStr = countInStr > 150 ? 150 : countInStr;
                        countInStr = countInStr < 30 ? i.Text.Length : countInStr;
                    }
                    <p class="one_block_body_fetext_list">@i.Text.Substring(0, countInStr) ...</p>
                </div>
            </a>
            @if (i.FavouritedCurrentUser != null)
            {
                <div class="listfe_favourite_star" id="favourite_div_but_@i.IDFE" onclick="favouritePhysic(@i.IDFE)">
                    @Html.Action("Favourite", "Helpers", new { favourite = i.FavouritedCurrentUser })
                </div>
            }
            
        </div>

       

                        }
</div>

