@*файл представления для отображения редактируемого списка характеристик 
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@


@model dip.Models.ViewModel.HelpersV.DescrFormListDataV<dip.Models.Domain.PhaseCharacteristicObject>


@if (Model != null)
{

    <div class="objectInputChilds" id=@("phaseChildsAll_"+Model.ParentId)>
        <div id=@("phaseChildsInner_"+Model.ParentId)>
            @foreach (var i2 in Model.List)
            {
                <div>

                    <input id="inputPhaseCheckbox_@i2.Id" class="checkBoxClass" type="checkbox" name="change_phase_checbox" value=@("change_phase_checbox_"+i2.Id ) />
@if (i2.Parent != dip.Models.Constants.FeObjectBaseCharacteristic)
{
                    <button class="btn btn-default" id=@(i2.Id + "_delbut") onclick="deletePhase('@i2.Id')">Удалить</button>
}
                    <button class="btn btn-default" onclick="changePhase('@i2.Id')">Изменить</button>
                    <button id="restoreInputPhase_but_@i2.Id" class="btn btn-default" onclick="restorePhaseValue('@i2.Id')" style="display:none;">Восстановить значение</button>
                    <input class="form-control" type="text" name="@i2.Parent" id="inputPhaseText_@i2.Id" value="@i2.Name" readonly />
                    <div>

                        <div id=@("phaseChilds_"+i2.Id)>

                        </div>

                    </div>
                </div>
            }
        </div>
        @if (Model.ParentId != dip.Models.Constants.FeObjectBaseCharacteristic)
        {
            <button class="btn btn-default" onclick="addNewPhase('@Model.ParentId')">Добавить</button>
        }
            
        </div>
}



