@*файл представления для отображения списка пользователей(коротко) рядом с каждой записью отрисовать кнопку
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.ViewModel.HelpersV.ListUsersShortDataWithButtonV



@foreach (var i in Model.Users)
{
    <div class="bottomGrey">

        @Html.ActionLink(@i.UserName, "PersonalRecord", "Person", new { personId = i.Id }, new { })

        <lavel title="Id пользователя">@i.Id</lavel>
        <button class="btn btn-default" onclick="ListUsersShortDataButton('@i.Id')">@Model.ButText</button>
    </div>
}


