


@model dip.Models.ViewModel.HelpersV.PartFormDescrSearchV

<div class="form-horizontal">

    <hr />
    @*@( +a.Postfix)*@
    <div class="form-group">
        <label id=@("actionLabel"+Model.Type) class="control-label col-md-2" value="@Model.Form.currentActionId" for="@("action"+Model.Type)">Название воздействия</label>
        @*@Html.Label("Название воздействия", new { id = "actionLabel", @class = "control-label col-md-2" })*@




        <div class="col-md-10">

            @*@Html.DropDownList("actionId" + type, null, htmlAttributes: new { id = "action" + type, @class = "form-control" })*@


            <select name=@("actionId"+ Model.Type) class="form-control" id=@("action"+Model.Type)>

                @foreach (var i in Model.Form.actionId)
                {
                    if (Model.Param?.actionId == i.Id)
                    {
                        <option selected value="@i.Id">@i.Name</option>
                    }
                    else
                    {
                        <option value="@i.Id">@i.Name</option>
                    }

                }
            </select>


            @*@Html.ValidationMessageFor(model => model.Action.AllActionId, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        <label id="" class="control-label col-md-2" for="@("actionType"+Model.Type)">Тип входа</label>
        @*@Html.Label("Тип входа", new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            <select name=@("actionType"+ Model.Type) class="form-control" id=@("actionType"+Model.Type)>
                @foreach (var i in Model.Form.actionType)
                {

                    if (Model.Param?.actionType == i.Id)
                    {
                        <option selected value="@i.Id">@i.Name</option>
                    }
                    else
                    {
                        <option value="@i.Id">@i.Name</option>
                    }



                }
            </select>

            @*@Html.DropDownList("actionType" + type, null, htmlAttributes: new { @class = "form-control" })*@
            @*@Html.ValidationMessageFor(model => model.Action.ActionType_Id, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div id=@("fizVelGroup"+ Model.Type)>

        @Html.Action("DescrFormFizVels", "Helpers", new { type = Model.Type, fizVelId = Model.Form.fizVelId, param = Model.Param })


    </div>
    @Html.Action("DescrFormParamFizVels", "Helpers", new { type = Model.Type, parametricFizVelId = Model.Form.parametricFizVelId, param = Model.Param })


    @*@if (a.pros.Count > 0)
    {*@
        <label class="control-label col-md-2">Пространственные характеристики</label>
        @*}*@
            <div id=@("prosGroup"+Model.Type)>
                @*<div class="form-group" id=@("pros" + type)>*@

                @Html.Action("DescrFormPros", "Helpers", new { type = Model.Type, pros = Model.Form.pros, param = Model.Param })


                @*</div>*@
            </div>
    
    @*@if (a.spec.Count > 0)
    {*@
        <label class="control-label col-md-2">Специальные характеристики</label>
    @*}*@
            <div id=@("specGroup"+Model.Type)>

                @Html.Action("DescrFormSpec", "Helpers", new { type = Model.Type, specs = Model.Form.spec, param = Model.Param })




            </div>
    
    @*@if (a.vrem.Count > 0)
    {*@
        <label class="control-label col-md-2">Временные характеристики</label>
    @*}*@
        <div id=@("vremGroup"+Model.Type)>
            @Html.Action("DescrFormVrem", "Helpers", new { type = Model.Type, vrems = Model.Form.vrem, param = Model.Param })



        </div>
    

    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="nameOfButton" value="Отмена" class="btn btn-default" />
                <input type="submit" name="nameOfButton" value="Далее" class="btn btn-default" />
            </div>
        </div>*@
</div>















