


@model dip.Models.ViewModel.HelpersV.PartFormDescrSearchV

<div class="form-horizontal">

    <hr />
    @*@( +a.Postfix)*@
    <div class="form-group">
        <label id=@("actionLabel"+Model.Type) class="control-label col-md-2" value="@Model.Form.CurrentActionId" for="@("action"+Model.Type)">Название воздействия</label>

        @*@Html.Label("Название воздействия", new { id = "actionLabel", @class = "control-label col-md-2" })*@




        <div class="col-md-10">

            @*@Html.DropDownList("actionId" + type, null, htmlAttributes: new { id = "action" + type, @class = "form-control" })*@


            <select name=@("actionId"+ Model.Type) class="form-control" id=@("action"+Model.Type)>

                @foreach (var i in Model.Form.ActionId)
                {
                    if (Model.Param?.ActionId == i.Id)
                    {
                        <option selected value="@i.Id">@i.Name</option>
                    }
                    else
                    {
                        <option value="@i.Id">@i.Name</option>
                    }

                }
            </select>


            @*@Html.ValidationMessageFor(model => model.Action.AllActionId, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        <label id="" class="control-label col-md-2" for="@("actionType"+Model.Type)">Тип входа</label>
        @*@Html.Label("Тип входа", new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            <select name=@("actionType"+ Model.Type) class="form-control" id=@("actionType"+Model.Type)>
                @foreach (var i in Model.Form.ActionType)
                {

                    if (Model.Param?.ActionType == i.Id)
                    {
                        <option selected value="@i.Id">@i.Name</option>
                    }
                    else
                    {
                        <option value="@i.Id">@i.Name</option>
                    }



                }
            </select>

            @*@Html.DropDownList("actionType" + type, null, htmlAttributes: new { @class = "form-control" })*@
            @*@Html.ValidationMessageFor(model => model.Action.ActionType_Id, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
    <div id=@("fizVelGroup"+ Model.Type+"_label")>
        <div id=@("fizVelGroup"+ Model.Type+"_np_label") style="display:none;">
            <label class="control-label col-md-2" for="@("fizVelId"+ Model.Type )">Название физической величины</label>
        </div>


        <div id=@("fizVelGroup"+ Model.Type+"_p_label") style="display:none;">
            <label class="control-label col-md-2" for="@("fizVelId"+ Model.Type)">Раздел физики</label>
        </div>






    </div>
    <div id=@("fizVelGroup"+ Model.Type)>
        @*<div class="form-group" id=@("fizVel"+Model.Type)>*@
        <div class="" id=@("fizVel"+Model.Type)>
            @Html.Action("DescrFormFizVels", "Helpers", new { type = Model.Type, fizVelId = Model.Form.FizVelId, param = Model.Param })
        </div>
            @*</div>*@
        </div>
</div>
    <div class="form-group">
        <div id=@("parametricFizVel"+Model.Type+"_label") style="display:none;">
            <label class="control-label col-md-2" for="@("parametricFizVelId"+ Model.Type)">Название физической величины</label>

        </div>
        @*<div class="form-group" id=@("parametricFizVel"+Model.Type)>*@

        <div class="" id=@("parametricFizVel"+Model.Type)>
            @Html.Action("DescrFormParamFizVels", "Helpers", new { type = Model.Type, parametricFizVelId = Model.Form.ParametricFizVelId, param = Model.Param })
        </div>
            @*</div>*@
        </div>
        @*@if (a.pros.Count > 0)
            {*@
        <div id=@("prosGroup"+Model.Type+"_label") style="display:none;">
            <label class="control-label col-md-2">Пространственные характеристики</label>
        </div>
        @*}*@
        <div id=@("prosGroup"+Model.Type)>
            @*<div class="form-group" id=@("pros" + type)>*@

            @Html.Action("DescrFormPros", "Helpers", new { type = Model.Type, pros = Model.Form.Pros, param = Model.Param })


            @*</div>*@
        </div>

        @*@if (a.spec.Count > 0)
            {*@
        <div id=@("specGroup"+Model.Type+"_label") style="display:none;">
            <label class="control-label col-md-2">Специальные характеристики</label>
        </div>
        @*}*@
        <div id=@("specGroup"+Model.Type)>

            @Html.Action("DescrFormSpec", "Helpers", new { type = Model.Type, specs = Model.Form.Specs, param = Model.Param })




        </div>

        @*@if (a.vrem.Count > 0)
            {*@
        <div id=@("vremGroup"+Model.Type+"_label") style="display:none;">
            <label class="control-label col-md-2">Временные характеристики</label>
        </div>
        @*}*@
        <div id=@("vremGroup"+Model.Type)>
            @Html.Action("DescrFormVrem", "Helpers", new { type = Model.Type, vrems = Model.Form.Vrems, param = Model.Param })



        </div>


        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="nameOfButton" value="Отмена" class="btn btn-default" />
                    <input type="submit" name="nameOfButton" value="Далее" class="btn btn-default" />
                </div>
            </div>*@
    </div>















