@*файл представления для отображения части дескрипторной формы(вход\выход)
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@


@model dip.Models.ViewModel.HelpersV.PartFormDescrSearchV

<div class="form-horizontal">

    @*<hr />*@
    @*@( +a.Postfix)*@
    <div class="form-group">
        <label id=@("actionLabel"+Model.Type) class="control-label col-md-2" value="@Model.Form.CurrentActionId" for="@("action"+Model.Type)">Название воздействия</label>


        <div class="col-md-10">
            <select name=@("actionId"+ Model.Type) class="form-control" id=@("action"+Model.Type)>

                @foreach (var i in Model.Form.ActionId)
                {
                    if (Model.Param?.ActionId == i.Id)
                    {
                        <option selected value="@i.Id">@i.Name</option>
                    }
                    else
                    {
                        <option value="@i.Id">@i.Name</option>
                    }

                }
            </select>

        </div>
    </div>
    <div class="form-group">
        <label id="" class="control-label col-md-2" for="@("actionType"+Model.Type)">Тип входа</label>
        <div class="col-md-10">
            <select name=@("actionType"+ Model.Type) class="form-control" id=@("actionType"+Model.Type)>
                @foreach (var i in Model.Form.ActionType)
                {

                    if (Model.Param?.ActionType == i.Id)
                    {
                        <option selected value="@i.Id">@i.Name</option>
                    }
                    else
                    {
                        <option value="@i.Id">@i.Name</option>
                    }
                    
                }
            </select>

        </div>
    </div>
    <div class="form-group">
    <div id=@("fizVelGroup"+ Model.Type+"_label")>
        <div id=@("fizVelGroup"+ Model.Type+"_np_label") style="display:none;">
            <label class="control-label col-md-2" for="@("fizVelId"+ Model.Type )">Название физической величины</label>
        </div>


        <div id=@("fizVelGroup"+ Model.Type+"_p_label") style="display:none;">
            <label class="control-label col-md-2" for="@("fizVelId"+ Model.Type)">Раздел физики</label>
        </div>






    </div>
    <div id=@("fizVelGroup"+ Model.Type)>
        <div class="" id=@("fizVel"+Model.Type)>
            @Html.Action("DescrFormFizVels", "Helpers", new { type = Model.Type, fizVelId = Model.Form.FizVelId, param = Model.Param })
        </div>
            @*</div>*@
        </div>
</div>
    <div class="form-group">
        <div id=@("parametricFizVel"+Model.Type+"_label") style="display:none;">
            <label class="control-label col-md-2" for="@("parametricFizVelId"+ Model.Type)">Название физической величины</label>

        </div>

        <div class="" id=@("parametricFizVel"+Model.Type)>
            @Html.Action("DescrFormParamFizVels", "Helpers", new { type = Model.Type, parametricFizVelId = Model.Form.ParametricFizVelId, param = Model.Param })
        </div>
        </div>
        <div id=@("prosGroup"+Model.Type+"_label") style="display:none;">
            <label class="control-label col-md-2">Пространственные характеристики</label>
        </div>
        @*}*@
        <div id=@("prosGroup"+Model.Type)>

            @Html.Action("DescrFormPros", "Helpers", new { type = Model.Type, pros = Model.Form.Pros, param = Model.Param })

        </div>

        <div id=@("specGroup"+Model.Type+"_label") style="display:none;">
            <label class="control-label col-md-2">Специальные характеристики</label>
        </div>
        @*}*@
        <div id=@("specGroup"+Model.Type)>

            @Html.Action("DescrFormSpec", "Helpers", new { type = Model.Type, specs = Model.Form.Specs, param = Model.Param })

        </div>

        <div id=@("vremGroup"+Model.Type+"_label") style="display:none;">
            <label class="control-label col-md-2">Временные характеристики</label>
        </div>
        @*}*@
        <div id=@("vremGroup"+Model.Type)>
            @Html.Action("DescrFormVrem", "Helpers", new { type = Model.Type, vrems = Model.Form.Vrems, param = Model.Param })

        </div>

    </div>















