
@{
    ViewBag.Title = "Поиск по техническим функциям";
}

<h2>Поиск физических эффектов по технической функции</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Составьте поисковый запрос</h4>
        <hr />
        <div class="form-group">
            @Html.Label("Выберите действие", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("operationId", ViewBag.Operations as SelectList, htmlAttributes: new { id = "operation", @class = "form-control", value = @ViewBag.OperationId })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Выберите группу объектов", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("operandGroupId", ViewBag.OperandGroups as SelectList, htmlAttributes: new { id = "operandGroup", @class = "form-control", value = @ViewBag.OperandGroupId })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Выберите объект", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("operandId", ViewBag.Operands as SelectList, htmlAttributes: new { id = "operand", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Выберите ограничение", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("limitId", ViewBag.Limits as SelectList, htmlAttributes: new { id = "limit", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Выполнить запрос" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Назад на главную страницу", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#operation').change(function ()
        {
            var operationId = $('#operation').val();

            $.ajax(
                {
                    type: 'GET',
                    url: '/DescriptionQueries/GetLimits/' + operationId,
                    success: function (limit) {
                        $('#limit').replaceWith(limit);
                    }
                });

        });

        $('#operandGroup').change(function ()
        {
            var operandGroupId = $('#operandGroup').val();

            $.ajax(
                {
                    type: 'GET',
                    url: '/DescriptionQueries/GetOperands/' + operandGroupId,
                    success: function (operand) {
                        $('#operand').replaceWith(operand);
                    }
                });

        });
    </script>

}
