@model IEnumerable<dip.Models.TechnicalFunctions.Operation>

@{
    ViewBag.Title = "Действия технических функций";
}

<h2>Действия технических функций</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Дескриптор")
        </th>
        <th>
            @Html.DisplayName("Значение")
        </th>
        <th>
            @Html.DisplayName("Дескриптор родителя")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Id)
            </td>
            <td>
                @Html.DisplayFor(x => item.Value)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent)
            </td>
        </tr>
    }

</table>
