<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система поиска физических эффектов</title>
    @*Система поиска физических эффектов*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>

        function PreloaderShowChange(on) {
            var pr = document.getElementById('Main_preloader_id');
            if (on) {
                pr.style.display = 'block';
            }
            else {
                pr.style.display = 'none';
            }
        }

        //url, data, func_success,func_complete, func_error, func_beforeSend, type,dataType
        function goAjaxRequest(obj) {
            if (!obj.type)
                obj.type = 'GET';
            if (!obj.dataType)
                obj.dataType = 'html';
            $.ajax(
        {
            type: obj.type,
            data: obj.data,
            url: obj.url,

            success: function (xhr, status, jqXHR) {
                if (obj.func_success) {
                    try {
                        obj.func_success(xhr, status, jqXHR);
                    }
                    catch (e) {
                        console.log('Ошибка ' + e.name + ":" + e.message + "\n" + e.stack);
                    }
                   
                }
            },
            error: function (xhr, status, error) {
                alert("ошибка загрузки");
                if (obj.func_error)
                    obj.func_error(xhr, status, error);
            },
            // shows the loader element before sending.
            beforeSend: function () {
                if (obj.func_beforeSend)
                    obj.func_beforeSend();
                PreloaderShowChange(true);
            },
            // hides the loader after completion of request, whether successfull or failor.             
            complete: function (xhr, status, jqXHR) {
                if (obj.func_complete) {
                    try {
                        obj.func_complete(xhr, status, jqXHR);
                    }
                    catch (e) {
                        console.log('Ошибка ' + e.name + ":" + e.message + "\n" + e.stack);
                    }
                }
                
                
                    
                PreloaderShowChange(false);
            },
            dataType: obj.dataType//'html'
        });



        }




        function ShowImageRecordAJAX(a) {

            



            var div = document.getElementById("div_for_replace_ajax_id_2");
            var div2 = document.getElementById("div_for_replace_ajax_id");
            div2.style.width = '100%';//document.documentElement.clientWidth + 'px';
            div2.style.height = window.screen.availHeight+'px';//'100%';//document.documentElement.clientHeight + 'px';
            
            var str = " <div class='ImageRecord_all_block'>" + document.getElementById("out_main_tag_one_img_id_" + a).innerHTML + "</div>";

            div.innerHTML = str;
            div.style.left = '100px';
            div.style.top = '100px';

            div.style.height = document.documentElement.clientHeight - 200 + 'px';//window.screen.availHeight - 200 + 'px';
            div.style.width = document.documentElement.clientWidth -200 + 'px';//window.screen.availWidth - 200 + 'px';

            div2.style.left = '0px';
            div2.style.top = '0px';
            div2.style.display = 'block';






            //var id = a.id.split('_')[1];
            //var dt = {
            //    'id': a
            //};
            //$.ajax({
            //    url: "/SocialNetwork/LoadShowImageRecord",
            //    data: dt,
            //    success: OnComplete_LoadShowImageRecord,
            //    error: function () {
            //        alert("ошибка загрузки");
            //        PreloaderAction(false);

            //    },
            //    beforeSend: function () { PreloaderAction(true); },
            //    complete: function () {
            //        PreloaderAction(false);

            //    },
            //    type: 'POST', dataType: 'html'//html
            //});


        }

        //function OnComplete_LoadShowImageRecord(data) {

        //    var div = document.getElementById("div_for_replace_ajax_id_2");
        //    var div2 = document.getElementById("div_for_replace_ajax_id");
        //    div2.style.width = '100%';//document.documentElement.clientWidth + 'px';
        //    div2.style.height = '100%';//document.documentElement.clientHeight + 'px';
        //    div.innerHTML = data;
        //    div.style.left = '0px';
        //    div.style.top = '100px';
        //    div2.style.left = '0px';
        //    div2.style.top = '0px';
        //    div2.style.display = 'block';
        //}



        function ShowImageRecordClose() {
            var div = document.getElementById("div_for_replace_ajax_id_2");
            var div2 = document.getElementById("div_for_replace_ajax_id");

            div.innerHTML = '';

            div2.style.width = '0px';
            div2.style.height = '0px';

            div2.style.left = '-100px';
            div2.style.top = '-100px';
            div2.style.display = 'none';

        }



        function favouritePhysic(id) {

            var div = document.getElementById('favourite_div_but_'+id);
            div.innerHTML = '';
            goAjaxRequest({
                url: '/Person/FavouritePhysics',
                type: 'POST',
                data: { id: id },
                func_success: function (data, status, jqXHR) {

                    div.innerHTML = data;
                }
            });
        }





        ;;;
    </script>


</head>
<body>
    @Html.Action("MainHeader", "Home", new { })
    @*<div id="layout_active_panel_id" class="layout_active_panel"></div>*@

    <div class="div_for_replace_ajax" id="div_for_replace_ajax_id" onclick="ShowImageRecordClose()">
        <div id="div_for_replace_ajax_id_2" class="div_for_replace_ajax_2" onclick="event.stopPropagation()"></div>
    </div>




    <div onclick="up()" class="Main_header_back_to_top" id="Main_header_back_to_top_id"></div>

    <div class="container body-content">@*container body-content*@
        @RenderBody()
        <hr />
        <footer>
            @Html.Action("MainFooter", "Home", new { })
          
        </footer>
    </div>

   
</body>
</html>
