<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система поиска физических эффектов</title>
    @*Система поиска физических эффектов*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    @Html.Action("MainHeader", "Home", new { })
    <div id="layout_active_panel_id" class="layout_active_panel"></div>
    <div onclick="up()" class="Main_header_back_to_top" id="Main_header_back_to_top_id"></div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @Html.Action("MainFooter", "Home", new { })
          
        </footer>
    </div>

   
</body>
</html>
