@using System.Web.Mvc;
@using dip.Models.Domain;

@*@functions
{
    private static new HtmlHelper<object> Html
    {
        get { return ((WebViewPage)CurrentPage).Html; }
    }

    private static UrlHelper Url
    {
        get { return ((WebViewPage)CurrentPage).Url; }
    }
}*@

@helper HelperName(string name)
{
// your helper can contain code and/or markup, e.g.
// var msg = "Hello " + name;
// <p>@msg</p>
// For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
}


@*@helper PrintAsRaw(string htmlString)
{
    @Html.Raw(htmlString)
    
}*@


@*dynamic*@
@*HtmlHelper*@
@* отрисовывает форму(a) для дескрипторного поиска, форма уже заполнена и выбраны нужные параметры(param) *@
@helper PartFormDescrSearch(dip.Models.ViewModel.DescriptionForm a, string type = "", DescrSearchI param=null)
{
//using System.Web.Mvc ;
    <div class="form-horizontal">

        <hr />
        @*@( +a.Postfix)*@
        <div class="form-group">
            <label id=@("actionLabel"+type) class="control-label col-md-2" value="@a.currentActionId">Название воздействия</label>
            @*@Html.Label("Название воздействия", new { id = "actionLabel", @class = "control-label col-md-2" })*@

           


            <div class="col-md-10">

                @*@Html.DropDownList("actionId" + type, null, htmlAttributes: new { id = "action" + type, @class = "form-control" })*@


                <select name=@("actionId"+ type) class="form-control" id=@("action"+type)>
                    
                    @foreach (var i in a.actionId)
                    {
                        if (param?.actionId == i.Id)
                        {
                            <option selected value="@i.Id">@i.Name</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Name</option>
                        }

                    }
                </select>


                @*@Html.ValidationMessageFor(model => model.Action.AllActionId, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <label id="" class="control-label col-md-2">Тип входа</label>
            @*@Html.Label("Тип входа", new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <select name=@("actionType"+ type) class="form-control" id=@("actionType"+type)>
                    @foreach (var i in a.actionType)
                    {

                        if (param?.actionType == i.Id)
                        {
                            <option selected value="@i.Id">@i.Name</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Name</option>
                        }


                        
                    }
                </select>

                @*@Html.DropDownList("actionType" + type, null, htmlAttributes: new { @class = "form-control" })*@
                @*@Html.ValidationMessageFor(model => model.Action.ActionType_Id, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div id=@("fizVelGroup"+ type)>

            @helpers_.DescrFormFizVels(type, a.fizVelId, a.currentActionId, param)
        </div>

        @helpers_.DescrFormParamFizVels(type, a.parametricFizVelId, param )
        <div id=@("prosGroup"+type)>
            @helpers_.DescrFormPros(type, a.pros, param)
            
        </div>
        <div id=@("specGroup"+type)>
            @helpers_.DescrFormSpec(type, a.spec,param )
        </div>
        <div id=@("vremGroup"+type)>
            @helpers_.DescrFormVrem(type, a.vrem, param )
</div>
        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="nameOfButton" value="Отмена" class="btn btn-default" />
                    <input type="submit" name="nameOfButton" value="Далее" class="btn btn-default" />
                </div>
            </div>*@
    </div>







}


@helper DescrFormFizVels(string type, List<FizVel> fizVelId,string currentActionId, DescrSearchI param = null)
{
    <div class="form-group" id=@("fizVel"+type)>
        @if (currentActionId != "VOZ11")
    {
            @*@Html.LabelFor(model => model.FizVelId, "Название физической величины", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Название физической величины</label>
        }
        else
        {
            @*@Html.LabelFor(model => model.FizVelId, "Раздел физики", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Раздел физики</label>
        }
        <div class="col-md-10">
            @*@Html.DropDownList("fizVelId"+ ((string)ViewBag.type), null, htmlAttributes: new { id = "fizVelId"+ ((string)ViewBag.type), @class = "form-control" })*@
            <select name=@("fizVelId"+ type) class="form-control" id=@("fizVelId"+ type)>

                @foreach (var i in fizVelId)
                {
                    if (param?.FizVelId == i.Id)
                    {
                        <option selected value="@i.Id">@i.Name</option>
                    }
                    else
                    {
                        <option value="@i.Id">@i.Name</option>
                    }

                    
                }

            </select>





            @*@Html.ValidationMessageFor(model => model.FizVelId, "", new { @class = "text-danger" })*@
        </div>
    </div>

}



@helper DescrFormParamFizVels(string type, List<FizVel> parametricFizVelId, DescrSearchI param = null)
{
    <div class="form-group" id=@("parametricFizVel"+type)>
        @if (parametricFizVelId.Count != 0)
    {
            @*@Html.Label("Название физической величины", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Название физической величины</label>
            <div class="col-md-10">
                @*@Html.DropDownList("parametricFizVelId"+ ((string)ViewBag.type), ViewBag.parametricFizVelId as SelectList, htmlAttributes: new { @class = "form-control" })*@

                <select name=@("parametricFizVelId"+ type) class="form-control" id=@("parametricFizVelId"+ type)>
                    <option value="NO_FIZVEL">Не выбрано</option>
                    @foreach (var i in parametricFizVelId)
                    {

                        if (param?.parametricFizVelId == i.Id)
                        {
                            <option selected value="@i.Id">@i.Name</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Name</option>
                        }

                        
                    }

                </select>

            </div>
        }
    </div>
}



@helper DescrFormVrem(string type, List<Vrem> vrems, DescrSearchI param = null)
{
    <div class="form-group" id=@("vrem"+type)>
        @if (vrems.Count != 0)
    {
            @*@Html.LabelFor(model => model.Vrems, "Временные характеристики", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Временные характеристики</label>
            <div class="col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            foreach (var vrem in vrems)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @: </tr> <tr>
                            }

                                <td>
                                    @*<input id=@("listSelectedVrem"+((string)ViewBag.type)+cnt) type="checkbox" name=@("listSelectedVrem"+((string)ViewBag.type)) value="@vrem.Id" /> @vrem.Name*@
                                    @if (vrem.Id == param?.listSelectedVrem)
                                    {
                                        <input type="checkbox" id=@("listSelectedVrem"+type+cnt) checked name=@("listSelectedVrem"+type) value="@vrem.Id" /> @vrem.Name
                                    }
                                    @if (vrem.Id != param?.listSelectedVrem)
                                    {
                                        <input type="checkbox" id=@("listSelectedVrem"+type+cnt) name=@("listSelectedVrem"+type) value="@vrem.Id" /> @vrem.Name
                                    }
                                    <div id="@(vrem.Id+type)" name="0"></div>

                                </td>
                            }

                            @: </tr>
                        }
                    </table>
                </div>
                            }
    </div>



}





@helper DescrFormSpec(string type,List<Spec> specs, DescrSearchI param = null)
{
    <div class="form-group" id=@("spec"+type)>
        @if (specs.Count != 0)
    {
            @*@Html.LabelFor(model => model.Specs, "Специальные характеристики", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Специальные характеристики</label>
            <div class="col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            foreach (var spec in specs)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @: </tr> <tr>
                            }
                                @:<td>
                    if (spec.Id == param?.listSelectedSpec)
                    {
                        <input type="checkbox" id=@("listSelectedSpec"+type+cnt) checked name=@("listSelectedSpec"+type) value="@spec.Id" /> @spec.Name
                    }
                                if (spec.Id != param?.listSelectedSpec)
                                {
                                    <input type="checkbox" id=@("listSelectedSpec"+type+cnt) name=@("listSelectedSpec"+type) value="@spec.Id" /> @spec.Name
                                }


                                
                                    <div id="@(spec.Id+type)" name="0"></div>
                                @:</td>
                            }
                            @: </tr>
                        }
                    </table>
                </div>
                            }
    </div>
}




@helper DescrFormPros(string type,List<Pro> pros, DescrSearchI param = null)
{
    <div class="form-group" id=@("pros"+type)>
        @if (pros.Count != 0)
    {
            @*@Html.LabelFor(model => model.Pros, "Пространственные характеристики", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Пространственные характеристики</label>
            <div class="col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            foreach (var pro in pros)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                            }
                                @: <td>
                                    @*<input id=@("listSelectedPros"+type+cnt) type="checkbox" name=@("listSelectedPros"+type) value="@pro.Id" /> @pro.Name*@

                                if (pro.Id == param?.listSelectedPros)
                                {
                                    <input id=@("listSelectedPros"+type+cnt) type="checkbox" checked name=@("listSelectedPros"+type) value="@pro.Id" /> @pro.Name
                                }
                                if (pro.Id != param?.listSelectedPros)
                                {
                                    <input id=@("listSelectedPros"+type+cnt) type="checkbox" name=@("listSelectedPros"+type) value="@pro.Id" /> @pro.Name
                                }

                               
                                    <div id="@(pro.Id+type)" name="0"></div>
                               @: </td>
                            }
                            @:</tr>
                        }
                    </table>
                </div>
                            }
    </div>


}




@*TODO     не помню зачем это нужно и нужно ли вообще*@
@helper selectList(dynamic a, string label, string id, string name)
{

    <div class="form-group" id="@id">
        @if (a.Count != 0)
    {
            <label id="" class="control-label col-md-2">@label</label>
            @*@Html.Label(label, new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            foreach (var item in a)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                            }
                                
                                <td>
                                    <input type="checkbox" name=@("listSelected"+@name) value="@item.Id" /> @item.Name
                                    <div id="@item.Id" name="0"></div>
                                </td>
                            }
                            @:</tr>
                        }
                    </table>
                </div>
                            }
    </div>


}








@helper ImageLink(Image a)
{
    @*<a class="link_standart_for_div" href="/SocialNetwork/Image/@a.Id">*@
if (a?.Id != null)
{
    <div id="LinkImageForLoad_id_@a.Id" class="div_image_standart div_load_open_img" onclick="ShowImageRecordAJAX(@a.Id)">@*@a.Id*@
        @*<a class="link_standart_for_div" href="/SocialNetwork/Image/@(a.Id)">*@
        @helpers_.Image(a, true)
        @*</a>*@
    </div>
}
if (a?.Id == null)
{
    @helpers_.Image(a, true)
}

}



@helper Image(Image a, bool show_empty_img)
        {
if (a?.Data != null)
{
    //TODO сейчас  не полностью картинки влезают
    <div class="out_main_tag_one_img_cl" id="out_main_tag_one_img_id_@a.Id">
        @*<img id="main_tag_one_img_id_@a.Id" class="class_image_standart" src="data:image/jpeg;base64,@Convert.ToBase64String(a.Data)" style="background: no-repeat;background-size: cover;">*@

        <div id="main_tag_one_img_id_@a.Id" class="class_image_standart" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(a.Data)) no-repeat;background-size: cover;">
        </div>
    </div>
}
    
    if (show_empty_img)
    {


        if (a?.Data == null)
        {
            <img src="~/Content/images/camera_200.png" />
            }
        }
    }





    