@using System.Web.Mvc;
@using dip.Models.Domain;

@*@functions
{
    private static new HtmlHelper<object> Html
    {
        get { return ((WebViewPage)CurrentPage).Html; }
    }

    private static UrlHelper Url
    {
        get { return ((WebViewPage)CurrentPage).Url; }
    }
}*@

@*@helper HelperName(string name)
{
// your helper can contain code and/or markup, e.g.
// var msg = "Hello " + name;
// <p>@msg</p>
// For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
}*@


@*@helper PrintAsRaw(string htmlString)
{
    @Html.Raw(htmlString)
    
}*@


@*dynamic*@
@*HtmlHelper*@
@* отрисовывает форму(a) для дескрипторного поиска, форма уже заполнена и выбраны нужные параметры(param) *@
@*@helper PartFormDescrSearch(dip.Models.ViewModel.DescriptionForm a, string type = "", DescrSearchI param=null)
{
//using System.Web.Mvc ;
    <div class="form-horizontal">

        <hr />
       
        <div class="form-group">
            <label id=@("actionLabel"+type) class="control-label col-md-2" value="@a.currentActionId">Название воздействия</label>
           
           


            <div class="col-md-10">

               

                <select name=@("actionId"+ type) class="form-control" id=@("action"+type)>
                    
                    @foreach (var i in a.actionId)
                    {
                        if (param?.actionId == i.Id)
                        {
                            <option selected value="@i.Id">@i.Name</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Name</option>
                        }

                    }
                </select>


             
            </div>
        </div>
        <div class="form-group">
            <label id="" class="control-label col-md-2">Тип входа</label>
           
            <div class="col-md-10">
                <select name=@("actionType"+ type) class="form-control" id=@("actionType"+type)>
                    @foreach (var i in a.actionType)
                    {

                        if (param?.actionType == i.Id)
                        {
                            <option selected value="@i.Id">@i.Name</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Name</option>
                        }


                        
                    }
                </select>

               
            </div>
        </div>
        <div id=@("fizVelGroup"+ type)>

            @helpers_.DescrFormFizVels(type, a.fizVelId, param)
        </div>

        @helpers_.DescrFormParamFizVels(type, a.parametricFizVelId, param )
        @if (a.pros.Count > 0)
        {
            <label class="control-label col-md-2">Пространственные характеристики</label>
            <div id=@("prosGroup"+type)>
               

                @helpers_.DescrFormPros(type, a.pros, param)
              
            </div>
        }
        @if (a.spec.Count > 0)
        {
            <label class="control-label col-md-2">Специальные характеристики</label>
            <div id=@("specGroup"+type)>

                @helpers_.DescrFormSpec(type, a.spec, param)
            </div>
        }
       @if (a.vrem.Count > 0)
       {
        <label class="control-label col-md-2">Временные характеристики</label>
            <div id=@("vremGroup"+type)>
                @helpers_.DescrFormVrem(type, a.vrem, param)
            </div>
       }

     
    </div>







}*@


@*@helper DescrFormFizVels(string type, List<FizVel> fizVelId, DescrSearchI param = null)
{
    <div class="form-group" id=@("fizVel"+type)>
        @if (param?.actionId != "VOZ11")
    {
           
            <label class="control-label col-md-2">Название физической величины</label>
        }
        else
        {
           
            <label class="control-label col-md-2">Раздел физики</label>
        }
        <div class="col-md-10">
           
            <select name=@("fizVelId"+ type) class="form-control" id=@("fizVelId"+ type)>

                @foreach (var i in fizVelId)
                {
                    if (param?.FizVelId == i.Id)
                    {
                        <option selected value="@i.Id">@i.Name</option>
                    }
                    else
                    {
                        <option value="@i.Id">@i.Name</option>
                    }

                    
                }

            </select>





        </div>
    </div>

}*@



@*@helper DescrFormParamFizVels(string type, List<FizVel> parametricFizVelId, DescrSearchI param = null)
{
    <div class="form-group" id=@("parametricFizVel"+type)>
        @if (parametricFizVelId != null && parametricFizVelId.Count != 0)
        {
            
            <label class="control-label col-md-2">Название физической величины</label>
            <div class="col-md-10">
               
                <select name=@("parametricFizVelId"+ type) class="form-control" id=@("parametricFizVelId"+ type)>
                   
                    @foreach (var i in parametricFizVelId)
                    {

                        if (param?.parametricFizVelId == i.Id)
                        {
                            <option selected value="@i.Id">@i.Name</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Name</option>
                        }

                        
                    }

                </select>

            </div>
        }
    </div>
}*@

@*@helper DescrFormVremCheckBoxes(string type, List<Vrem> vrems, DescrSearchI param = null)
{



}*@

@*@helper DescrFormVrem(string type, List<Vrem> vrems, DescrSearchI param = null)
{
    <div class="form-group descrCheckBoxChild" >
        @if (vrems!= null && vrems.Count != 0)
        {
           
            <div class="col-md-10">
               
                        @{

                            foreach (var vrem in vrems)
                            {
                                <div>


                                     @{ 
                                        bool? needSelected = param?.listSelectedVrem?.Split(new string[] { " " }, StringSplitOptions.RemoveEmptyEntries)?.Contains(vrem.Id);

                                    }
                                    
                                    @if (needSelected==true)
                                    {
                                    <input class="checkBoxClass" type="checkbox" checked name=@("listSelectedVrem"+type) value="@vrem.Id" /> @vrem.Name
                                    }
                                    else
                                    {
                                    <input class="checkBoxClass" type="checkbox"  name=@("listSelectedVrem"+type) value="@vrem.Id" /> @vrem.Name
                                    }
                                    <div id="@(vrem.Id+type)" name="0">
                                        @if (vrem.Childs.Count > 0)
                                        {
                                            @helpers_.DescrFormVrem(type, vrem.Childs, param)
                                        }

                                    </div>

                                </div>
                            }


                        }
                    
                </div>
                            }
    </div>



}*@





@*@helper DescrFormSpec(string type,List<Spec> specs, DescrSearchI param = null)
{
    <div class="form-group descrCheckBoxChild" >
        @if (specs!= null && specs.Count != 0)
        {
           <div class="col-md-10">
                
                        @{

                            foreach (var spec in specs)
                            {
                                <div>
                                    @{ 
                                        bool? needSelected = param?.listSelectedSpec?.Split(new string[] { " " }, StringSplitOptions.RemoveEmptyEntries)?.Contains(spec.Id);

                                    }

                                    
                                    @if (needSelected==true)
                                    {
                                    <input class="checkBoxClass" type="checkbox"  checked name=@("listSelectedSpec"+type) value="@spec.Id" /> @spec.Name
                                    }
                                    else
                                    {
                                    <input class="checkBoxClass" type="checkbox" name=@("listSelectedSpec"+type) value="@spec.Id" /> @spec.Name
                                    }



                                    <div id="@(spec.Id+type)" name="0">
                                        @if (spec.Childs.Count > 0)
                                        {
                                            @helpers_.DescrFormSpec(type, spec.Childs, param)
                                        }
                                    </div>
                                </div>
                            }

                        }
                   
                </div>
                            }
    </div>
}*@




@*@helper DescrFormPros(string type,List<Pro> pros, DescrSearchI param = null)
{
    <div class="form-group descrCheckBoxChild" >
        @if (pros != null && pros.Count != 0)
        {
          
            <div class="col-md-10">
               
                        @{

                            foreach (var pro in pros)
                            {
                                <div>
                                   
                                    @{
                                        bool? needSelected = param?.listSelectedPros?.Split(new string[] { " " }, StringSplitOptions.RemoveEmptyEntries)?.Contains(pro.Id);
                                    }
                                        @if (needSelected == true)
                                    {
                                    <input  class="checkBoxClass" type="checkbox" checked name=@("listSelectedPros" + type) value="@pro.Id" /> @pro.Name
                                    }
                                    else
                                    {
                                    <input  class="checkBoxClass" type="checkbox" name=@("listSelectedPros" + type) value="@pro.Id" /> @pro.Name
                                    }


                                    <div id="@(pro.Id + type)" name="0">
                                        @if (pro.Childs.Count > 0)
                                        {
                                            @helpers_.DescrFormPros(type, pro.Childs, param)
                                        }
                                    </div>
                                </div>
                            }

                        }
                  
                </div>
                            }
    </div>


                            }*@




@*TODO     не помню зачем это нужно и нужно ли вообще*@
@*@helper selectList(dynamic a, string label, string id, string name)
{

    <div class="form-group" id="@id">
        @if (a.Count != 0)
    {
            <label id="" class="control-label col-md-2">@label</label>
          
            <div class="col-md-10">
                <table class="descrFormGroupCheckBox">
                    <tr>
                        @{
                            int cnt = 0;
                            foreach (var item in a)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                            }
                                
                                <td>
                                    <input type="checkbox" class="checkBoxClass" name=@("listSelected"+@name) value="@item.Id" /> @item.Name
                                    <div id="@item.Id" name="0"></div>
                                </td>
                            }
                            @:</tr>
                        }
                    </table>
                </div>
                            }
    </div>


}*@








@*@helper ImageLink(Image a)
{
    
if (a?.Id != null)
{
    <div id="LinkImageForLoad_id_@a.Id" class="div_image_standart div_load_open_img" onclick="ShowImageRecordAJAX(@a.Id)">
       
        @helpers_.Image(a, true)
       
    </div>
}
if (a?.Id == null)
{
    @helpers_.Image(a, true)
}

}*@



@*@helper Image(Image a, bool show_empty_img)
        {
if (a?.Data != null)
{
    //TODO сейчас  не полностью картинки влезают
    <div class="out_main_tag_one_img_cl" id="out_main_tag_one_img_id_@a.Id">
       
        <div id="main_tag_one_img_id_@a.Id" class="class_image_standart" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(a.Data))
              no-repeat; background-position: center;background-size: contain;">
           
        </div>
    </div>
}
    
    if (show_empty_img)
    {


        if (a?.Data == null)
        {
            <img src="~/Content/images/camera_200.png" />
            }
        }
    }*@





    