@helper HelperName(string name) {
    // your helper can contain code and/or markup, e.g.
    // var msg = "Hello " + name;
    // <p>@msg</p>
    // For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
}




@helper selectList(dynamic a,string label,string id,string name)  {

    <div class="form-group" id="@id">
        @if (a.Count != 0)
    {
            @Html.Label(label, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            foreach (var item in a)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                            }
                                @:
                                <td>
                                    <input type="checkbox" name=@("listSelected"+@name) value="@item.Id" /> @item.Name
                                    <div id="@item.Id" name="0"></div>
                                </td>
                            }
                            @:</tr>
                        }
                    </table>
                </div>
                            }
    </div>


}