@*файл представления для изменения дейскрипторов вход\выход
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@

@model dip.Models.ViewModel.PhysicV.CreateDescriptionV

@{
    ViewBag.Title = "CreateDescription";
}


<h2>CreateDescription</h2>
<button class="btn btn-default" id="butInfoBlockId" onclick="showInfo()">Показать информацию</button>
<div style="display:none;" id="divInfoBlockId">
    <h2>Сохранятся только изменения тех элементов которые отображаются на экране на момент нажатия кнопки "сохранить"</h2>
    <h2>при удалении родителя, будут удалены(не будут добавлены новые) все дети</h2>
    <h2>actionId добавится только если он выбран</h2>
    <h2>удаление просходит блоками, так если одновременно запросить удаление spec и pros, удалиться может только 1 группа(например только pros) из них</h2>

</div>




<input type="hidden" id="parametric_action_or_not" value="@Model.ActionParametricIds" />
<div><label>Название воздействия</label></div>
<div class="form-horizontal">
    @*#line1*@
    
    <div id="actionId_all">

        @foreach (var i in Model.Form.ActionId)
            {
            <div class="padding_10_top">
                <input name="actionId" type="radio" value="@i.Id" id="@(i.Id+"_radio")" class="radioClass">
                <button class="btn btn-default" onclick="changeActionId('@i.Id')">Изменить</button>
                <button id="restoreInput_but_@i.Id" class="btn btn-default" onclick="restoreValue(1,'@i.Id')" style="display:none;">Восстановить значение</button>
                <button class="btn btn-default" id="@(i.Id+"_delbut")" onclick="deleteItemActionId('@i.Id')">Удалить</button>
                <input class="form-control" type="text" value="@i.Name" name="@i.Id" id="@(i.Id+"_inp")" readonly />
            </div>
        }


            </div>

    <div class="padding_10_top">
        <input name="actionId" type="radio" value="VOZ0" id="VOZ0_radio" class="radioClass">
        <input type="checkbox" id="changeTypeParamActionId" @*onchange="changeTypeParamAction()"*@ name="changeTypeParamActionName" style="display:none;" title="Параметрическ" class="checkBoxClass"/>@*TODO Параметрическ(?)*@
        <input class="form-control" type="text" value="" name="VOZ0" id="VOZ0_inp" />
        
    </div>
      

    <hr id="ScrollChangeActionId"/>









    @*#line2*@




    @*#line3*@
    <div id="fizVelGroup_np_label" style="display:none;">
        <label class="">Название физической величины</label>
    </div>


    <div id="fizVelGroup_p_label" style="display:none;">
        <label class="">Раздел физики</label>
    </div>
    <div  id="fizVelGroup_all" style="display:none;">
        <div id="fizVelGroup">
            <div class="" id="fizVel">
            </div>



            </div>
        <button class="btn btn-default" id="addNewFizVelId_but_id" onclick="addNewFizVelId()">Добавить</button>
    </div>
    
 
    
    <hr id="ScrollChangeParamFizvelId"/>








    @*#line4*@
    
    <div id="parametricBlock_all">
       
        
            <div id="parametricFizVel_all"  style="display:none;">
                <div id="parametricFizVel_label">
                    <label class="">Название физической величины</label>

                </div>
                <div  id="parametricFizVel">
                </div>
                    <button class="btn btn-default" id="addNewParametricFizVelId_but_id" onclick="addNewParametricFizVelId()">Добавить</button>
                <hr />
                </div>
        
       
    </div>

    

    @*#line checkboxes*@
    <div id="div_all_checkboxes" style="display:none;">
    @*#line5*@
    <div>
        <div id="prosGroup_all">
           
                <label class="">Пространственные характеристики</label>
            
            <div id="prosGroup">

            </div>
            <hr />
        </div>

        </div>

    


    @*#line6*@


        <div>
            <div id="specGroup_all">
                <label class="">Специальные характеристики</label>
                <div id="specGroup">
                   
                </div>
                <hr />
                </div>
            </div>

   




    @*#line7*@

    <div>
        <div id="vremGroup_all">
            <label class="">Временные характеристики</label>
            <div id="vremGroup">

               
            </div>
           
            </div>
        </div>
</div>

    <div class="errorDiv" style="display:none;" id="errorShowDiv"></div>
    <button class="btn btn-default" onclick="saveForm()">Сохранить</button>

    </div>








@section scripts{
    <script src="~/Scripts/createDescription.js" type="text/javascript"></script>

}












