@model dip.Models.Domain.FEText

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>




<div>
    
    @Html.BeginForm("Create", "Physic", FormMethod.Post, new { enctype = "multipart/form-data" }){ 
    @Html.HiddenFor(x1=>x1.IDFE)
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("name")
        </dt>

        <dd>
            @Html.EditorFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayName("Описание")
        </dt>

        <dd>
            @Html.EditorFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayName("Входное воздействие")
        </dt>

        <dd>
            @Html.EditorFor(model => model.TextInp)
        </dd>

        <dt>
            @Html.DisplayName("Выходное воздействие")
        </dt>

        <dd>
            @Html.EditorFor(model => model.TextOut)
        </dd>

        <dt>
            @Html.DisplayName("Объект")
        </dt>

        <dd>
            @Html.EditorFor(model => model.TextObj)
        </dd>

        <dt>
            @Html.DisplayName("Применение")
        </dt>

        <dd>
            @Html.EditorFor(model => model.TextApp)
        </dd>

        <dt>
            @Html.DisplayName("Литература")
        </dt>

        <dd>
            @Html.EditorFor(model => model.TextLit)
        </dd>

    </dl>


    @foreach (var i in Model.Images)
    {
        <div>
            <div class="one_effect_img" style="background:url( data:image/jpeg;base64,@Convert.ToBase64String(i.Data)) no-repeat;background-size: cover;">
            </div>
            <button>Удалить</button>
        </div>
    }


    <div id="div_delete img_id"></div>



    <input type="file" name="uploadImage[0]" />
    <input type="submit" value="отправить"/>
    }
    






</div>





