@model dip.Models.Domain.FEText

@{
    ViewBag.Title = "Сведения о физическом эффекте";
}

<h2>Сведения о физическом эффекте</h2>

@{
    <div>
        <h4>@ViewBag.EffectName</h4>
        @if (ViewBag.Admin == true)
        {
            @Html.ActionLink("Редактировать", "Edit", "Physic", new { id = Model.IDFE }, new { })
        }
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Описание")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>

            <dt>
                @Html.DisplayName("Входное воздействие")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TextInp)
            </dd>

            <dt>
                @Html.DisplayName("Выходное воздействие")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TextOut)
            </dd>

            <dt>
                @Html.DisplayName("Объект")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TextObj)
            </dd>

            <dt>
                @Html.DisplayName("Применение")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TextApp)
            </dd>

            <dt>
                @Html.DisplayName("Литература")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TextLit)
            </dd>

        </dl>


        @foreach (var i in Model.Images)
        {
            <div class="div_img_record_show_block div_inline_block">
                @helpers_.ImageLink(i)
            </div>
        }


    </div>
    <p>
        @Html.ActionLink("Назад к списку эффектов", "Results", new { id = ViewBag.TechnicalFunctionId })
    </p>
}