

@model dip.Models.ViewModel.PhysicV.DetailsV

<link type="text/css" rel="stylesheet" href="~/Content/fefull.css" />


@{
    ViewBag.Title = "Сведения о физическом эффекте";
}

<h2>Сведения о физическом эффекте</h2>
<input  type="hidden" value="@Model.Effect.IDFE" id="inputIdCurrentPhysEffect" />
@{
    <div>
        <h4 class="breakWord">@Model.EffectName</h4>
        <hr />
        <div class="details_favourite_star" id="favourite_div_but_@Model.Effect.IDFE" onclick="favouritePhysic(@Model.Effect.IDFE)">
            @Html.Action("Favourite", "Helpers", new { favourite = Model.Favourited })
        </div>
        <div>
            @Html.Action("MovementPhysicsBlock", "Helpers", new { idfe = Model.Effect.IDFE })

        </div>
        <div>
            <ul class="detailsMenu">
                <li class="btn btn-default" onclick="detailsLoadText()" style="border-bottom:3px solid red;" id="detailsUl_text">Текст</li>
                <li class="btn btn-default"  onclick="detailsLoadDescr()" id="detailsUl_descr">Дескрипторы вход\выход</li>
                <li class="btn btn-default"  onclick="detailsLoadObj()" id="detailsUl_obj">Дескрипторы объекта</li>
                <li class="btn btn-default"  onclick="detailsLoadSimilar()" id="detailsUl_similar">Похожие записи</li>
                @if (Model.Admin)
                {
                    <li class="btn btn-default"  onclick="detailsLoadLists()" id="detailsUl_lists">Списки</li>
                    <li class="btn btn-default" onclick="return location.href = '@Url.Action( "Edit", "Physic", new { id = Model.Effect.IDFE })'"  id="detailsUl_edit">Редактировать</li>
                }
            </ul>



        </div>
        <div class="detailsBodyBody">
        <div id="detailsdiv_text">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("Описание")
                </dt>

                <dd>
                    <div class="padding_10_top"></div>
                    <span class="breakWord">@Model.Effect.Text </span>
                </dd>

                <dt>
                    @Html.DisplayName("Входное воздействие")
                </dt>

                <dd>
                    <div class="padding_10_top"></div>
                    <span class="breakWord">@Model.Effect.TextInp </span>
                </dd>

                <dt>
                    @Html.DisplayName("Выходное воздействие")
                </dt>

                <dd>
                    <div class="padding_10_top"></div>
                    <span class="breakWord">@Model.Effect.TextOut </span>
                </dd>

                <dt>
                    @Html.DisplayName("Объект")
                </dt>

                <dd>
                    <div class="padding_10_top"></div>
                    <span class="breakWord">@Model.Effect.TextObj </span>
                </dd>

                <dt>
                    @Html.DisplayName("Применение")
                </dt>

                <dd>
                    <div class="padding_10_top"></div>
                    <span class="breakWord">@Model.Effect.TextApp </span>
                </dd>

                <dt>
                    @Html.DisplayName("Литература")
                </dt>

                <dd>
                    <div class="padding_10_top"></div>
                    <span class="breakWord">@Model.Effect.TextLit </span>
                </dd>

            </dl>

            <div class="block_images">
                <div class="inline">
                    @foreach (var i in Model.AllImages)
                    {
                        <div class="div_img_record_show_block div_inline_block">
                            <div class="details_one_image">
                                @Html.Action("ImageLink", "Helpers", new { a = i })

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>


        <div style="display:none;" id="detailsdiv_descr">


        </div>
        <div style="display:none;" id="detailsdiv_obj">


        </div>
        <div style="display:none;" id="detailsdiv_similar">

        </div>
        @if (Model.Admin)
            {
            <div style="display:none;" id="detailsdiv_lists">


            </div>
        }
    </div>
        </div>
           
            }



@section scripts{
    <script src="~/Scripts/details.js" type="text/javascript"></script>

}