

@model dip.Models.ViewModel.PhysicV.DetailsV


@{
    ViewBag.Title = "Сведения о физическом эффекте";
}

<h2>Сведения о физическом эффекте</h2>

@{
    <div>
        <h4>@Model.EffectName</h4>
        @if (Model.Admin == true)
        {
            @Html.ActionLink("Редактировать", "Edit", "Physic", new { id = Model.Effect.IDFE }, new { })
        }
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Описание")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Effect.Text)
            </dd>

            <dt>
                @Html.DisplayName("Входное воздействие")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Effect.TextInp)
            </dd>

            <dt>
                @Html.DisplayName("Выходное воздействие")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Effect.TextOut)
            </dd>

            <dt>
                @Html.DisplayName("Объект")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Effect.TextObj)
            </dd>

            <dt>
                @Html.DisplayName("Применение")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Effect.TextApp)
            </dd>

            <dt>
                @Html.DisplayName("Литература")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Effect.TextLit)
            </dd>

        </dl>

        <div class="block_images">
            <div class="inline">
                @foreach (var i in Model.Effect.Images)
                {
                    <div class="div_img_record_show_block div_inline_block">
                        <div class="details_one_image">
                            @Html.Action("ImageLink", "Helpers", new { a = i })
                           
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
            @*<p>
                    @Html.ActionLink("Назад к списку эффектов", "Results", new { id = ViewBag.TechnicalFunctionId })
                </p>*@
            <p>
                <button class="btn btn-default" onclick="loadDescrParam(@Model.Effect.IDFE)" id="show_descr_but">Показать дескрипторы</button>

            </p>
            <div id="DivDescriptionParams_id">

            </div>
            <hr />

            <div id="DivMoreSimilar_id">
                <p>
                    <button class="btn btn-default" onclick="loadSimilar(@Model.Effect.IDFE)">Показать похожие</button>

                </p>
            </div>
            }




            <script>

                function loadDescrParam(id) {
                    var but = document.getElementById('show_descr_but');
                    var div = document.getElementById('DivDescriptionParams_id');
                    if (div.innerHTML.trim() == '') {
                        //загрузить
                        goAjaxRequest({
                            url: '/Actions/LoadDescr',
                            type: 'POST',
                            data: { id: id },
                            func_success: function (data, status, jqXHR) {
                                // Заменяем часть представления, отвечающего за отображение значений характеристики
                                document.getElementById('DivDescriptionParams_id').innerHTML = data;
                            }
                        });
                        div.style.display = 'block';
                        but.innerHTML='Скрыть дескрипторы';
                    }
                    else {
                        //загружать не надо, надо показать\скрыть
                        if (div.style.display == 'block') {
                            //скрыть
                            div.style.display = 'none';
                            but.innerHTML='Показать дескрипторы';
                        }
                        else {
                            //показать
                            div.style.display = 'block';
                            but.innerHTML='Скрыть дескрипторы';
                        }
                    }


                }

                function loadSimilar(id){
                    document.getElementById('DivMoreSimilar_id').innerHTML= '';
                    goAjaxRequest({
                        url: '/Physic/ShowSimilar',
                        type:'POST',
                        data:{id:id},
                        func_success: function (data, status, jqXHR) {
                            // Заменяем часть представления, отвечающего за отображение значений характеристики
                            document.getElementById('DivMoreSimilar_id').innerHTML=data;
                        }
                    });
                }

            </script>
