@*файл представления для редактирования записи ФЭ
    Авдосев Станислав Алексеевич (zsuzitor) © 2019
    E-mail: avdosevstas@mail.ru*@


@model dip.Models.ViewModel.PhysicV.EditV

@{
    ViewBag.Title = "Edit";
}

<link type="text/css" rel="stylesheet" href="~/Content/fefull.css" />






<h2>Edit</h2>
@Html.ActionLink("Вернуться к просмотру", "Details", "Physic", new { id = Model.Obj.IDFE }, new { })
@if(Model== null)
{
    <p>запись не найдена</p>
}
@Html.ValidationSummary()
@if (Model != null)
{

    <div>
        

        @Html.Action("DescriptionFormAll", "Actions", new
   {
       countInput= Model.Obj.CountInput,
       changedObject= Model.Obj.ChangedObject,
       stateIdBegin= Model.Obj.StateBeginId,
       stateIdEnd = Model.Obj.StateEndId,
       objFormsBegin = Model.FormObjectBegin,
       objFormsEnd = Model.FormObjectEnd,
       inp = Model.FormsInput,
       outp = Model.FormsOutput
   })



            
            @Html.Action("FeTextInput", "Helpers", new { obj = Model.Obj })
           

            <div id="div_delete_img_id">

            </div>


            <div id="physEditFormIMGDiv">
                <input class="btn btn-default" type="file" id="upLoadImagesId" multiple name="uploadImage" />
            </div>
               
                <div class="block_images">
                    <div class="inline">
                        @foreach (var i in Model.Obj.Images)
                        {
                           
                            <div class="div_img_record_show_block div_inline_block" id="div_img_show_block_@i.IdForShow">
                                <div id="div_img_hide_block_@i.IdForShow">
                                    <div class="details_one_image">
                                        @Html.Action("ImageLink", "Helpers", new { a = i })

                                    </div>
                                    <div class="edit_button_image_action">
                                        <button id="buttonDeleteId_@i.IdForShow" class="btn btn-default" onclick="delete_img(this)">Удалить</button>
                                    </div>
                                </div>
                                <div class="edit_button_image_action" id="div_img_reset_block_@i.IdForShow" style="display:none;">
                                    <button id="buttonResetId_@i.IdForShow" class="btn btn-default" onclick="reset_img(this)">Восстановить</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
        <div class="block_latex">
            <div class="block_latexAdd">
                <p>Добавление Latex</p>
                <div id="physCreateFormLatexImagesAll">
                    <div id="physCreateFormLatexImagesImg">

                    </div>
                    <button  class="btn btn-default" onclick="addLatex()">Добавить</button>
                </div>


            </div>
            <div class="block_latexExist">
                @{
                    int numForExistLatex = 0;
                    foreach (var i in Model.Obj.LatexFormulas)
                    {
                        <div id=@("oneLatexExist_" + i.Id)>
                            <input  type="hidden" id="@(string.Concat("numForExistLatex_id", numForExistLatex))" value="@i.Id" />
                            <input class="form-control" id=@("oneLatexExistInput_" + i.Id) type="text" value="@i.Formula" />
                            <button class="btn btn-default" onclick="deleteLatexImg('@i.Id','@numForExistLatex')">Удалить</button>
                        </div>
                        
                            numForExistLatex++;
                            
                    }

                }
                

            </div>

        </div>
        <input class="btn btn-default" onclick="EditPhysFunc()" value="Отправить" />
            </div>
            
        }


<script>

    var deleteImages=[];
    var deleteLatexImage=[];
    var countLatex = 0;
    var countLatexExist = @Model.Obj.LatexFormulas.Count;

    $(document).ready(function () {
        let countPhaseBegin=@Model.CountPhaseBegin;
        let countPhaseEnd=@Model.CountPhaseEnd;
    
        for(let i=0;i<countPhaseBegin;++i)
            document.getElementById('PhaseObject_all_S_'+i).style.display='block';
        for(let i=0;i<countPhaseEnd;++i)
            document.getElementById('PhaseObject_all_E_'+i).style.display='block';
        
    });
</script>

@section scripts{
    <script src="~/Scripts/editFeRecord.js" type="text/javascript"></script>

}

