


@model dip.Models.ViewModel.SearchV.DescriptionSearchV


@{
    ViewBag.Title = "DescriptionSearch";
}

<h2>DescriptionSearch</h2>


<div>
    <h4>ФОРМА поиска</h4>

    @Html.Hidden(" ", Url.Action("DescriptionSearch", "Search"), new { id = "descr_search_href_id" })
    
        <div id="DescriptionFormMainAll" style="display:block;">
        
        @*div_form_id*@
    <div>
        @Html.Action("DescriptionInput", "Actions",new {inp= Model.FormInput,outp = Model.FormOutput})
        
    </div>

</div>
    <div>
        
        <div class="div_inline_block descrForm_div_search_but">
            <p class="text-center">
                <button class="width_100per btn btn-default" onclick="Go_next_step()">Поиск</button>
                </p>
</div>
        <div class="div_inline_block descrForm_div_clear_but">
            <button class="width_100per btn btn-default" onclick="clearForm()">Очистить форму</button>
        </div>
        <div class="div_inline_block descrForm_div_shwh_but">
            <div id="showHideDescrForm" class="width_100per btn btn-primary" onclick="showHideDescrForm()">Скрыть форму</div>
        </div>
       
    </div>
        @*<button onclick="Go_next_step()">Поиск</button>*@
        <div id="search_content_div_id">

            @if (Model?.SearchList != null)
            {
                @Html.Action("ListFeText", "Physic", new { listId = Model?.SearchList })
            }

        </div>

        @*<div>
                @if (ViewBag.search == true)
                {
                    @Html.Action("ListFeText", "Actions", new {listId= ViewBag.listFeId })




                }


            </div>*@

        @*@Html.Label( "Название воздействия!!!!!", htmlAttributes: new { id = "actionLabel", @class = "control-label col-md-2", value = "___+__" })*@


        <div>

            @Html.ActionLink("Назад на главную страницу", "Index", "Home")
        </div>
    </div>





@section Scripts {
    <script>



        function go1() {//formData


            data_descr_search.listSelectedProsI = data_descr_search.listSelectedProsI.trim();
            data_descr_search.listSelectedSpecI = data_descr_search.listSelectedSpecI.trim();
            data_descr_search.listSelectedVremI = data_descr_search.listSelectedVremI.trim();
            data_descr_search.listSelectedProsO = data_descr_search.listSelectedProsO.trim();
            data_descr_search.listSelectedSpecO = data_descr_search.listSelectedSpecO.trim();
            data_descr_search.listSelectedVremO = data_descr_search.listSelectedVremO.trim();

            var url_ = document.getElementById("descr_search_href_id").value + "?" +
                    //"search=yes&" +
                    "actionIdI=" + data_descr_search.actionIdI + "&" +
                    "actionTypeI=" + data_descr_search.actionTypeI + "&" +
                    "FizVelIdI=" + data_descr_search.FizVelIdI + "&" +
                    "parametricFizVelIdI=" + data_descr_search.parametricFizVelIdI + "&" +
                    "listSelectedProsI=" + data_descr_search.listSelectedProsI + "&" +
                    "listSelectedSpecI=" + data_descr_search.listSelectedSpecI + "&" +
                    "listSelectedVremI=" + data_descr_search.listSelectedVremI + "&" +
                    "actionIdO=" + data_descr_search.actionIdO + "&" +
                    "actionTypeO=" + data_descr_search.actionTypeO + "&" +
                    "FizVelIdO=" + data_descr_search.FizVelIdO + "&" +
                    "parametricFizVelIdO=" + data_descr_search.parametricFizVelIdO + "&" +
                    "listSelectedProsO=" + data_descr_search.listSelectedProsO + "&" +
                    "listSelectedSpecO=" + data_descr_search.listSelectedSpecO + "&" +
                    "listSelectedVremO=" + data_descr_search.listSelectedVremO + "&";
            history.pushState(null, null, url_);




            //$.ajax({
            //    url: "/Actions/DescriptionSearch",
            //    data: data_descr_search,


            //    complete: function (req) {

            //        document.getElementById('search_content_div_id').innerHTML = req.responseText;

            //    },
            //    type: 'GET', dataType: 'html'//'html'
            //});


            data_descr_search.function_trigger = null;


            goAjaxRequest({
                url: "/Search/DescriptionSearch",
                data: data_descr_search,
                func_success: function (data, status, jqXHR) {

                    //alert(data);
                    document.getElementById('search_content_div_id').innerHTML = data;
                    data_descr_search.function_trigger = go1;
                    showHideDescrForm(false);
                }
            });


            //$.ajax({
            //    url: "/Search/DescriptionSearch",
            //    data: data_descr_search,
            //    success: onAjaxSuccess//,
            //    //dataType: dataType
            //});
            


            //var xhr = new XMLHttpRequest();
            //xhr.open("GET", "/Actions/DescriptionSearch");

            //xhr.onreadystatechange = function () {
            //    if (xhr.readyState == 4) {
            //        if (xhr.status == 200) {
            //            //при возврате actionresult и тд, вернет -"<html>"
            //            document.getElementById('search_content_div_id').innerHTML = xhr.responseText;

            //        }
            //    }
            //};

            //xhr.send(data_descr_search);//formData


            //var xhr = new XMLHttpRequest();
            //xhr.open("GET", "/Actions/DescriptionSearch");

            //xhr.onreadystatechange = function () {
            //    if (xhr.readyState == 4) {
            //        if (xhr.status == 200) {
            //            //при возврате actionresult и тд, вернет -"<html>"
            //            document.getElementById('search_content_div_id').innerHTML = xhr.responseText;

            //        }
            //    }
            //};



            //xhr.send(data_descr_search);//formData
        }

        //------------------------------------------------------
        //action:true- показать
        function showHideDescrForm(action) {
            var form = document.getElementById('DescriptionFormMainAll');
            var but = document.getElementById('showHideDescrForm');
            if (action == null || action == undefined) {
                if (form.style.display == 'block') {
                    hideForm();
                }

                else {
                    showForm();
                }
            }
            else {
                if (action) {
                    showForm();
                }
                else {
                    hideForm();
                }
            }
            
             

            function showForm() {
                form.style.display = 'block';
                but.innerHTML = 'Скрыть форму';
            }
            function hideForm() {
                form.style.display = 'none';
                but.innerHTML = 'Показать форму';
            }
        }


        //------------------------------------------------------

        function clearForm() {
            $("#actionI option[value='VOZ1']").prop("selected", true);
            $("#actionO option[value='VOZ1']").prop("selected", true);
            $("#actionTypeI option[value='NO_ACTIONS']").prop("selected", true);
            $("#actionTypeO option[value='NO_ACTIONS']").prop("selected", true);
            

            changeParams('I');
            
            changeParams('O');

            var url_ = document.getElementById("descr_search_href_id").value;
            history.pushState(null, null, url_);


        }



        $(document).ready(function () {
           // ggg(go1);
            data_descr_search.function_trigger = go1;
        });

    </script>
}
